<div class="card mt-3">
  <div class="card-header">
    <h2 class="m-0 text-primary">Create Facebook Ads Campaign</h2>
  </div>
  <div class="card-body">
    <section>
      <form [formGroup]="formGroup">
        <div class="" formGroupName="details">
          <div class="row">
            <div class="col-12 col-lg-6 form-group">
              <label class="required-mark-after">Campaign Name</label>
              <input class="form-control" formControlName="name" aria-label="Campaign Name">
            </div>
            <div class="col-12 col-lg-6 form-group">
              <label class="required-mark-after">Ad Account</label>
              <select class="form-control" formControlName="adAccount">
                <option></option>
              </select>
            </div>
            <div class="col-12 col-lg-6 form-group m-l-auto">
              <label class="required-mark-after">Ad Label</label>
              <input class="form-control" formControlName="adLabel" aria-label="Campaign Name">
            </div>
            <div class="col-12 col-lg-12">
              <div class="d-flex justify-content-center align-items-center border p-t-10 p-b-10 border border-primary">
                <span class="font-weight-bold text-primary">Choose Campaign Objective</span>
              </div>
            </div>
            <div class="col-12 col-lg-12 m-t-20 d-flex p-0">
              <div class="col-lg-4 margin-top-20">
                <div class="border border-primary">
                  <div class="padding-10px bg-blue text-center">
                    <label class="bg-primary text-white d-flex justify-content-center p-10">AWARENESS</label>
                  </div>
                  <div class="p-t-10 p-b-30 p-l-15">
                    <div class="text-center"><i class="fa fa-lg fa-globe-americas text-primary" aria-hidden="true"></i>
                    </div>
                    <div class="radio radio-primary text-primary font-weight-bold m-t-20 m-l-20">
                      <input type="radio" id="obj_brandawareness" class="m-r-5" name="campaignobjective"
                        value="BRAND_AWARENESS">
                      <label for="obj_brandawareness">Brand Awareness</label>
                    </div>
                    <div class="radio radio-primary text-primary font-weight-bold m-t-20 m-l-20">
                      <input type="radio" id="obj_reach" class="m-r-5" name="campaignobjective" value="REACH">
                      <label for="obj_reach">Reach</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 margin-top-20">
                <div class="border border border-primary">
                  <div class="padding-10px bg-blue text-center">
                    <label class="bg-primary text-white d-flex justify-content-center p-10">CONSIDERATION</label>
                  </div>
                  <div class="p-t-10 p-b-30 p-l-15">
                    <div class="text-center"><i class="fab fa-lg fa-facebook-f text-primary" aria-hidden="true"></i>
                    </div>
                    <div class="radio radio-primary text-primary font-weight-bold m-t-20 m-l-20">
                      <input type="radio" id="obj_traffic" class="m-r-5" name="campaignobjective" value="LINK_CLICKS">
                      <label for="obj_traffic">Traffic</label>
                    </div>
                    <div class="radio radio-primary text-primary font-weight-bold m-t-20 m-l-20">
                      <input type="radio" id="obj_engagement" class="m-r-5" name="campaignobjective"
                        value="POST_ENGAGEMENT">
                      <label for="obj_engagement">Engagement</label>
                    </div>
                    <div class="radio radio-primary text-primary font-weight-bold m-t-20 m-l-20">
                      <input type="radio" id="obj_appinstalls" class="m-r-5" name="campaignobjective"
                        value="APP_INSTALLS">
                      <label for="obj_appinstalls">App Installs</label>
                    </div>
                    <div class="radio radio-primary text-primary font-weight-bold m-t-20 m-l-20">
                      <input type="radio" id="obj_videoviews" class="m-r-5" name="campaignobjective"
                        value="VIDEO_VIEWS">
                      <label for="obj_videoviews">Video Views</label>
                    </div>
                    <div class="radio radio-primary text-primary font-weight-bold m-t-20 m-l-20">
                      <input type="radio" id="obj_leadgeneration" class="m-r-5" name="campaignobjective"
                        value="LEAD_GENERATION">
                      <label for="obj_leadgeneration">Lead Generation</label>
                    </div>
                    <div class="radio radio-primary text-primary font-weight-bold m-t-20 m-l-20">
                      <input type="radio" id="obj_messages" class="m-r-5" name="campaignobjective" value="MESSAGES">
                      <label for="obj_messages">Messages</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 margin-top-20">
                <div class="border border-primary">
                  <div class="padding-10px bg-blue text-center">
                    <label class="bg-primary text-white d-flex justify-content-center p-10">CONVERSION</label>
                  </div>
                  <div class="p-t-10 p-b-30 p-l-15">
                    <div class="text-center"><i class="fa fa-lg fa-mobile-alt text-primary" aria-hidden="true"></i>
                    </div>
                    <div class="radio radio-primary text-primary font-weight-bold m-t-20 m-l-20">
                      <input type="radio" id="obj_conversions" class="m-r-5" name="campaignobjective"
                        value="CONVERSIONS">
                      <label for="obj_conversions">Conversions</label>
                    </div>
                    <div class="radio radio-primary text-primary font-weight-bold m-t-20 m-l-20">
                      <input type="radio" id="obj_cataloguesales" class="m-r-5" name="campaignobjective"
                        value="PRODUCT_CATALOG_SALES">
                      <label for="obj_cataloguesales">Catalogue Sales</label>
                    </div>
                    <div class="radio radio-primary text-primary font-weight-bold m-t-20 m-l-20">
                      <input type="radio" id="obj_storetraffic" class="m-r-5" name="campaignobjective"
                        value="LOCAL_AWARENESS">
                      <label for="obj_storetraffic">Store Traffic</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 d-flex align-items-center m-t-10">
              <label class="bold text-info m-r-10">Split Test</label>
              <label class="switch">
                <input type="checkbox" (click)="onSplitTestClick()">
                <span class="slider round"></span>
              </label>
            </div>
            <div *ngIf="spliteTestFlag" class="col-lg-12 d-flex flex-wrap m-t-10">
              <div class="col-lg-6">
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                  <label class="text-primary bold">Variable</label>
                  <select class="form-control  ng-pristine ng-untouched ng-valid ng-empty">
                    <option value="? string: ?"></option>
                    <option class="text-primary" value="1">Creative</option>
                    <option class="text-primary" value="2">Delivery optimisation</option>
                    <option class="text-primary" value="3">Audience</option>
                    <option class="text-primary" value="4">Placement</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                  <label class="text-primary bold">Number of ad sets</label>
                  <select class="form-control" (change)="onSetTestNum($event.target.value)">
                    <option value="1"></option>
                    <option class="text-primary" value="2">2</option>
                    <option class="text-primary" value="3">3</option>
                    <option class="text-primary" value="4">4</option>
                    <option class="text-primary" value="5">5</option>
                  </select>
                </div>
              </div>
              <!-- ngRepeat: n in adsetarray -->
              <div *ngFor="let ad of campaignAdsArr" class="col-lg-12 divadsets d-flex p-0">
                <div class="col-lg-6">
                  <label class="text-primary bold ng-binding">Ad Set {{ad.id}} Name</label>
                  <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <input type="text" class="form-control" name="adsetname" id="adsetname1">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <label class="text-primary bold ng-binding">Ad {{ad.id}} Name</label>
                    <input type="text" class="form-control" name="adname" id="adname1">
                  </div>
                </div>
              </div><!-- end ngRepeat: n in adsetarray -->
              <div class="clearfix"></div>
              <div class="col-lg-6">
                <a class="bold ng-binding">Creating 1 campaign, {{campaignAdsArr.length}} ad set and
                  {{campaignAdsArr.length}} ad</a>
              </div>
            </div>
            <div class="col-lg-12 d-flex align-items-center m-t-10">
              <label class="bold text-info m-r-10">Campaign budget optimisation</label>
              <label class="switch">
                <input type="checkbox" (click)="onCampaignBudgetOptimisationClick()">
                <span class="slider round"></span>
              </label>
            </div>
            <div *ngIf="campaignBudgetOptimisationFlag" class="col-lg-12 d-flex flex-wrap m-t-20">
              <div class="col-lg-6">
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                  <label class="text-primary font-weight-bold">Campaign budget</label>
                  <select id="selectBudget" class="form-control">
                    <option value=""></option>
                    <option class="text-primary" value="daily_budget">Daily Budget</option>
                    <option class="text-primary" value="lifetime_budget">Lifetime Budget</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                  <label></label>
                  <input type="number" min="0" max="99999"
                    class="form-control text-primary ng-valid ng-valid-min ng-valid-max ng-not-empty ng-dirty ng-valid-number edited ng-touched"
                    placeholder="20,000">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                  <label class="text-primary font-weight-bold">Campaign Bid Strategy</label>
                  <select id="selectBidStrategy" ng-model="vm.campaign.bidstrategy" class="form-control">
                    <option value=""></option>
                    <option class="text-primary" value="LOWEST_COST_WITHOUT_CAP">Lowest Cost</option>
                    <option class="text-primary" value="LOWEST_COST_WITH_BID_CAP">Bid Cap</option>
                    <option class="text-primary" value="TARGET_COST">Cost Cap</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                  <label class="text-primary font-weight-bold">Ad Scheduling</label>
                  <div class="radio radio-primary text-primary font-weight-bold m-t-10 m-l-20">
                    <input type="radio" id="adscheduling1" name="adscheduling" value="allthetime">
                    <label class="text-primary" for="adscheduling1">Run ads all the time</label>
                  </div>
                  <div class="radio radio-primary text-primary font-weight-bold m-t-10 m-l-20">
                    <input type="radio" id="adscheduling2" name="adscheduling" value="onschedule">
                    <label class="text-primary" for="adscheduling2">Run ads on a schedule</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 form-group">
              <div class="text-primary m-t-30">
                <label class="font-weight-bold">
                  Location
                </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text text-primary"><i class="fa fa-map-marker"></i></span>
                  </div>
                  <input class="form-control" placeholder="Location Search" autocomplete="off" name="location">
                  <!-- <input
                    id="typeahead-focus"
                    type="text"
                    class="form-control"
                    [(ngModel)]="model"
                    [ngbTypeahead]="search"
                    (focus)="focus$.next($any($event).target.value)"
                    (click)="click$.next($any($event).target.value)"
                    #instance="ngbTypeahead"
                  /> -->
                  <div class="input-group-append">
                    <span class="input-group-text text-primary">
                      <i class="fa fa-search"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 form-group">
              <div class="text-primary m-t-30">
                <label class="font-weight-bold">
                  Location (Exclude)
                </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text text-primary"><i class="fa fa-map-marker"></i></span>
                  </div>
                  <input class="form-control" placeholder="Location Search" autocomplete="off" name="location">
                  <div class="input-group-append">
                    <span class="input-group-text text-primary">
                      <i class="fa fa-search"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 form-group">
              <div class="text-primary m-t-20">
                <label class="font-weight-bold">
                  Currency
                </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text text-primary"><i class="fa fa-usd">$</i></span>
                  </div>
                  <input class="form-control" placeholder="Location Search" autocomplete="off" name="location">
                  <div class="input-group-append">
                    <span class="input-group-text text-primary">
                      <i class="fa fa-search"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 form-group">
              <div class="text-primary m-t-20">
                <label class="font-weight-bold">
                  Languages
                </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text text-primary"><i class="fa fa-language"></i></span>
                  </div>
                  <input class="form-control" placeholder="Location Search" autocomplete="off" name="location">
                  <div class="input-group-append">
                    <span class="input-group-text text-primary">
                      <i class="fa fa-search"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 m-t-20">
              <div>
                <label class="text-primary">
                  <input type="checkbox">
                  Import from Leads
                </label>
              </div>
              <div class="m-t-20">
                <label class="text-primary">
                  <input type="checkbox">
                  Include Facebook network in audience
                </label>
              </div>
            </div>
            <div class="col-lg-6 form-group form-md-line-input form-md-floating-label no-hint m-t-20">
              <label class="text-primary font-weight-bold">Age Range</label>
              <div class="input-group d-flex align-items-center">
                <select ng-model="vm.campaign.agemin" ng-change="vm.updateagerange()" class="form-control">
                  <option label="13" value="number:13">13</option>
                </select>
                <span class="text-primary input-group-addon">to</span>
                <select ng-model="vm.campaign.agemax" ng-change="vm.updateagerange()" class="form-control">
                  <option label="56" value="number:56" selected="selected">56</option>
                </select>
              </div>
            </div>
            <div class="col-lg-12 form-group form-md-line-input form-md-floating-label no-hint m-t-20">
              <label class="text-primary font-weight-bold">Gender</label>
              <div class="radio-group-multitoggle m-b-0">
                <input id="toggle_gender1" class="multitoggle ng-untouched ng-valid ng-not-empty ng-dirty"
                  name="toggle_gender" ng-model="vm.campaign.gender" value="all" type="radio" checked>
                <label for="toggle_gender1" class="lblmultitoggle bold">All</label>
                <input id="toggle_gender2" class="multitoggle ng-untouched ng-valid ng-not-empty ng-dirty"
                  name="toggle_gender" ng-model="vm.campaign.gender" value="male" type="radio">
                <label for="toggle_gender2" class="lblmultitoggle bold">Male</label>
                <input id="toggle_gender3"
                  class="multitoggle ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse" name="toggle_gender"
                  ng-model="vm.campaign.gender" value="female" type="radio">
                <label for="toggle_gender3" class="lblmultitoggle bold">Female</label>
              </div>
            </div>
            <div class="col-lg-12">
              <span class="text-primary font-weight-bold">Targetting</span>
            </div>
            <div class="col-12 col-lg-4 form-group">
              <div class="text-primary m-t-30">
                <div class="input-group">
                  <input class="form-control" placeholder="Interest" autocomplete="off" name="interest">
                  <div class="input-group-append">
                    <span class="input-group-text text-primary">
                      <i class="fa fa-search"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 form-group">
              <div class="text-primary m-t-30">
                <div class="input-group">
                  <input class="form-control" placeholder="Behavior" autocomplete="off" name="behavior">
                  <div class="input-group-append">
                    <span class="input-group-text text-primary">
                      <i class="fa fa-search"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 form-group">
              <div class="text-primary m-t-30">
                <div class="input-group">
                  <input class="form-control" placeholder="Demographic" autocomplete="off" name="demographic">
                  <div class="input-group-append">
                    <span class="input-group-text text-primary">
                      <i class="fa fa-search"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <label class="text-primary font-weight-bold m-t-20">Placements</label>
                <div class="radio radio-primary text-primary m-t-20 m-l-20">
                  <input type="radio" id="adscheduling1" name="adscheduling" value="allthetime">
                  <label class="text-primary" for="adscheduling1">Automatic</label>
                </div>
                <div class="radio radio-primary text-primary m-l-20">
                  <label class="text-primary" for="adscheduling2" (click)="onEditPlacementsClick()">
                    <input type="radio" id="adscheduling2" name="adscheduling" value="onschedule">
                    Edit Placements
                  </label>
                </div>
              </div>
            </div>
            <div *ngIf="editPlacementsFlag">
              <div class="col-lg-12" style="margin-top: 20px;" ng-show="vm.campaign.placement">
                <div class="col-lg-12">
                  <div class="form-group placement_devices form-md-line-input form-md-floating-label no-hint">
                    <label class="font-blue bold">Devices</label><br>
                    <div class="btn-group " data-toggle="buttons">
                      <label class="chkbtn btn_devices btn_desktop btn btn-primary bold"
                        ng-click="vm.d_deviceToggle()"><span class="md-click-circle md-click-animate"
                          style="height: 98px; width: 98px; top: -24.3229px; left: 7.56943px;"></span>
                        <input type="checkbox" class="dev_desktop ng-pristine ng-untouched ng-valid ng-empty"
                          ng-model="vm.campaign.device.desktop" value="desktop" checked="" style="">Desktop
                        <span class="fa fa-check"></span>
                      </label>
                      <label class="chkbtn btn_devices btn_mobile btn btn-primary bold active"
                        ng-click="vm.m_deviceToggle()">
                        <input type="checkbox" class="dev_mobile ng-pristine ng-untouched ng-valid ng-not-empty"
                          ng-model="vm.campaign.device.mobile" value="mobile" checked="" style="">Mobile
                        <span class="fa fa-check"></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group form-md-line-input form-md-floating-label no-hint obj_platforms">
                    <label class="font-blue bold">Platforms</label><br>
                    <div class="btn-group " data-toggle="buttons">
                      <label class="chkbtn btn_facebook btn btn-primary bold" ng-click="vm.facebookToggleAll()">
                        <input type="checkbox"
                          class="facebook obj1 obj2 obj3 obj4 obj5 obj6 obj7 obj8 obj9 obj10 obj11 ng-pristine ng-untouched ng-valid ng-empty"
                          ng-model="vm.campaign.facebook.all" style="">Facebook
                        <span class="fa fa-check"></span>
                      </label>
                      <label class="chkbtn btn_audience btn btn-primary bold" ng-click="vm.audienceToggleAll()"><span
                          class="md-click-circle md-click-animate"
                          style="height: 159px; width: 159px; top: -58.6944px; left: -17.3195px;"></span>
                        <input type="checkbox"
                          class="audience obj1 obj2 obj3 obj4 obj5 obj6 obj7 obj9 obj10 ng-pristine ng-untouched ng-valid ng-empty"
                          ng-model="vm.campaign.audience.all" style=""> Audience Network
                        <span class="fa fa-check"></span>
                      </label>
                      <label class="chkbtn btn_instagram btn btn-primary bold" ng-click="vm.instagramToggleAll()">
                        <input type="checkbox"
                          class="instagram obj1 obj2 obj3 obj4 obj5 obj6 obj7 obj8 obj9 obj10 obj11 ng-pristine ng-untouched ng-valid ng-empty"
                          ng-model="vm.campaign.instagram.all" style=""> Instagram
                        <span class="fa fa-check"></span>
                      </label>
                      <label class="chkbtn btn_messenger btn btn-primary bold" ng-click="vm.messengerToggleAll()">
                        <input type="checkbox"
                          class="messenger obj1 obj2 obj3 obj5 obj8 obj9 obj10 ng-pristine ng-untouched ng-valid ng-empty"
                          ng-model="vm.campaign.messenger.all" style=""> Messenger
                        <span class="fa fa-check"></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <label class="bold font-blue margin-bottom-10">Placements</label>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 obj_placements">
                  <div class="col-lg-6">
                    <label class="font-blue bold"><u>Feeds</u><br><small>(Get high visibility for your business with
                        ads in feeds)</small></label><br>
                    <label class="containerCheck" id="facebook_newsfeed" data-toggle="popover" data-type="img"
                      data-full="https://static.xx.fbcdn.net/rsrc.php/v1/yc/r/SL2k5fllWu5.jpg" data-original-title=""
                      title="">
                      Facebook News Feed
                      <input type="checkbox"
                        class="mobile desktop obj1 obj2 obj3 obj4 obj5 obj6 obj7 obj8 obj9 obj10 obj11 ng-pristine ng-untouched ng-valid ng-empty"
                        ng-model="vm.campaign.facebook.newsfeed" style=""><span class="checkmark"></span>
                    </label>
                    <label class="containerCheck" id="instagram_feed" data-toggle="popover" data-type="img"
                      data-full="https://static.xx.fbcdn.net/rsrc.php/v1/yA/r/bCv_O9cJjYo.jpg" data-original-title=""
                      title="">
                      Instagram Feed
                      <input type="checkbox"
                        class="mobile obj1 obj2 obj3 obj4 obj5 obj6 obj7 obj8 obj9 obj10 obj11 ng-pristine ng-untouched ng-valid ng-empty"
                        ng-model="vm.campaign.instagram.feed" style=""><span class="checkmark"></span>
                    </label>
                    <label class="containerCheck" id="facebook_marketplace" data-toggle="popover" data-type="img"
                      data-full="https://static.xx.fbcdn.net/rsrc.php/v1/yh/r/9Us3QXc4ZJy.jpg" data-original-title=""
                      title="">
                      Facebook Marketplace
                      <input type="checkbox"
                        class="mobile desktop obj1 obj2 obj3 obj6 obj7 obj8 obj9 obj10 obj11 ng-pristine ng-untouched ng-valid ng-empty"
                        ng-model="vm.campaign.facebook.marketplace" style=""><span class="checkmark"></span>
                    </label>
                    <label class="containerCheck" id="facebook_videofeed" data-toggle="popover" data-type="img"
                      data-full="https://static.xx.fbcdn.net/rsrc.php/v1/ye/r/z24MsSer0jU.jpg" data-original-title=""
                      title="">
                      Facebook video feeds
                      <input type="checkbox"
                        class="mobile obj1 obj2 obj3 obj4 obj5 obj6 obj9 ng-pristine ng-untouched ng-valid ng-empty"
                        ng-model="vm.campaign.facebook.videofeed" style=""><span class="checkmark"></span>
                    </label>
                    <label class="containerCheck" id="facebook_rightcolumn" data-toggle="popover" data-type="img"
                      data-full="https://static.xx.fbcdn.net/rsrc.php/v1/ya/r/1mlV-W-aJI9.jpg" data-original-title=""
                      title="">
                      Facebook right column
                      <input type="checkbox"
                        class="desktop obj3 obj9 obj10 ng-pristine ng-untouched ng-valid ng-empty"
                        ng-model="vm.campaign.facebook.rightcolumn" disabled="" style=""><span
                        class="checkmark disabled"></span>
                    </label>
                    <label class="containerCheck" id="instagram_explore" data-toggle="popover" data-type="img"
                      data-full="https://static.xx.fbcdn.net/rsrc.php/v3/yJ/r/tLKfIjndg33.png" data-original-title=""
                      title="">
                      Instagram Explore
                      <input type="checkbox"
                        class="mobile obj1 obj2 obj3 obj4 obj5 obj6 obj7 obj8 obj9 obj10 ng-pristine ng-untouched ng-valid ng-empty"
                        ng-model="vm.campaign.instagram.explore" style=""><span class="checkmark"></span>
                    </label>
                    <label class="containerCheck" id="messenger_inbox" data-toggle="popover" data-type="video"
                      data-full="https://www.facebook.com/d260de32-181e-4611-870d-7f8dc2dce3e9" data-original-title=""
                      title="">
                      Messenger Inbox
                      <input type="checkbox"
                        class="mobile obj3 obj5 obj8 obj9 obj10 ng-pristine ng-untouched ng-valid ng-empty"
                        ng-model="vm.campaign.messenger.inbox" style=""><span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="col-lg-6">
                    <label class="font-blue bold"><u>Stories</u><br><small>(Tell a rich, visual story with immersive,
                        full screen vertical ads)</small></label>
                    <label class="containerCheck" id="facebook_stories" data-toggle="popover" data-type="img"
                      data-full="https://static.xx.fbcdn.net/rsrc.php/v3/yz/r/VdDR8oIXa5l.png" data-original-title=""
                      title="">
                      Facebook Stories
                      <input type="checkbox"
                        class="mobile obj1 obj2 obj3 obj5 obj6 obj7 obj8 obj9 obj10 obj11 ng-pristine ng-untouched ng-valid ng-empty"
                        ng-model="vm.campaign.facebook.stories" style=""><span class="checkmark"></span>
                    </label>
                    <label class="containerCheck" id="instagram_stories" data-toggle="popover" data-type="img"
                      data-full="https://static.xx.fbcdn.net/rsrc.php/v3/yz/r/ys1sO1FBnCH.png" data-original-title=""
                      title="">
                      Instagram Stories
                      <input type="checkbox"
                        class="mobile obj1 obj2 obj3 obj5 obj6 obj7 obj8 obj9 obj10 obj11 ng-pristine ng-untouched ng-valid ng-empty"
                        ng-model="vm.campaign.instagram.stories" style=""><span class="checkmark"></span>
                    </label>
                    <label class="containerCheck" id="messenger_stories" data-toggle="popover" data-type="img"
                      data-full="https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/RQr1S3E83kn.png" data-original-title=""
                      title="">
                      Messenger Stories
                      <input type="checkbox"
                        class="mobile obj1 obj2 obj3 obj5 obj8 obj9 ng-pristine ng-untouched ng-valid ng-empty"
                        ng-model="vm.campaign.messenger.stories" style=""><span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="col-lg-6">
                    <label class="font-blue bold"><u>In-stream</u><br><small>(Quickly capture people's attention while
                        they're watching videos)</small></label>
                    <label class="containerCheck" id="facebook_instream" data-toggle="popover" data-type="video"
                      data-full="https://www.facebook.com/73a5c50c-c2fa-4815-abf3-a4a3f807c5e0" data-original-title=""
                      title="">
                      Facebook in-stream videos
                      <input type="checkbox"
                        class="mobile desktop obj1 obj2 obj3 obj4 obj5 obj6 obj7 obj9 ng-pristine ng-untouched ng-valid ng-empty"
                        ng-model="vm.campaign.facebook.instream" style=""><span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="col-lg-6">
                    <label class="font-blue bold"><u>Search</u><br><small>(Get visibility for your business as people
                        search on Facebook)</small></label>
                    <label class="containerCheck" id="facebook_search" data-toggle="popover" data-type="img"
                      data-full="https://static.xx.fbcdn.net/rsrc.php/v3/yw/r/MONDE1H8gS4.png" data-original-title=""
                      title="">
                      Facebook Search Results
                      <input type="checkbox" class="mobile obj3 obj9 obj10 ng-pristine ng-untouched ng-valid ng-empty"
                        ng-model="vm.campaign.facebook.search" style=""><span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="col-lg-6">
                    <label class="font-blue bold"><u>Messages</u><br><small>(Send offers or updates to people who are
                        already connected to your business)</small></label>
                    <label class="containerCheck" id="messenger_messages" data-toggle="popover" data-type="video"
                      data-full="https://business.facebook.com/31916d2a-cd15-4268-a79d-397681ece82c"
                      data-original-title="" title="">
                      Messenger sponsored messages
                      <input type="checkbox" class="mobile desktop ng-pristine ng-untouched ng-valid ng-empty"
                        ng-model="vm.campaign.messenger.messages" style=""><span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="col-lg-6">
                    <label class="font-blue bold"><u>In-Article</u><br><small>(Engage with people who are reading
                        content from publishers)</small></label>
                    <label class="containerCheck" id="facebook_articles" data-toggle="popover" data-type="video"
                      data-full="https://business.facebook.com/a82e017b-ccb2-4db2-a5d9-cf57b7945135"
                      data-original-title="" title="">
                      Facebook Instant Articles
                      <input type="checkbox"
                        class="mobile obj1 obj2 obj3 obj4 obj5 obj6 obj7 obj9 obj10 ng-pristine ng-untouched ng-valid ng-empty"
                        ng-model="vm.campaign.facebook.articles" style=""><span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="col-lg-6">
                    <label class="font-blue bold"><u>Apps and sites</u><br><small>(Expand your reach with ads in
                        external apps and websites)</small></label>
                    <label class="containerCheck" id="audience_classicgroup" data-toggle="popover" data-type="img"
                      data-full="https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/HCtJqSQ13l2.png" data-original-title=""
                      title="">
                      Audience Network native, banner and interstitial
                      <input type="checkbox"
                        class="mobile obj2 obj3 obj5 obj6 obj9 obj10 ng-pristine ng-untouched ng-valid ng-empty"
                        ng-model="vm.campaign.audience.classicgroup" style=""><span class="checkmark"></span>
                    </label>
                    <label class="containerCheck" id="audience_rewarded_video_group" data-toggle="popover"
                      data-type="img" data-full="https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/RbGZHFNttoD.png"
                      data-original-title="" title="">
                      Audience Network rewarded videos
                      <input type="checkbox"
                        class="mobile obj3 obj5 obj6 obj9 ng-pristine ng-untouched ng-valid ng-empty"
                        ng-model="vm.campaign.audience.rewarded_video_group" style=""><span class="checkmark"></span>
                    </label>
                    <label class="containerCheck" id="audience_instream_video_group" data-toggle="popover"
                      data-type="video" data-full="https://business.facebook.com/450d6c6b-93eb-4d0a-aa90-dcde9ee527c9"
                      data-original-title="" title="">
                      Audience Network in-stream videos
                      <input type="checkbox"
                        class="mobile desktop obj1 obj2 obj4 obj6 obj9 ng-pristine ng-untouched ng-valid ng-empty"
                        ng-model="vm.campaign.audience.instream_video_group" style=""><span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 m-t-20">
              <span class="text-primary font-weight-bold">Budget & schedule</span>
            </div>
            <div class="col-lg-12 m-t-20">

            </div>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>