.show-entries {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  background: #fff;
}

.datatable-pagination {
  padding: 14px;

  .paginate_button {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 0 8px;
    color: black;

    &.current {
      color: blue !important;
    }

    &.disabled {
      color: rgba(black, 0.6);
    }
  }
}

@media only screen and (max-width: 575px) {
  .mobile-hide {
    display: none;
  }
  .show-entries {
    margin: 0;
  }
}
