<ngx-datatable #table
               [className]="classes | datatableClassname: ['ngx-datatable']"
               [columnMode]="columnMode"
               [rows]="rows"
               [headerHeight]="headerHeight"
               [rowHeight]="rowHeight"
               [selected]="selected"
               [selectionType]="SelectionType.checkbox"
               [sorts]="sorts"
               [sortType]="SortType.multi"
               [externalSorting]="externalSorting"
               [scrollbarV]="scrollbarV"
               [scrollbarH]="scrollbarH"
               [virtualization]="virtualScrolling"
               [loadingIndicator]="dataSource.loading$ | async"
               (activate)="activate.emit($event)"
               (select)="onSelect($event)"
               (sort)="onSort($event)"
               (page)="onPage($event, table.bodyComponent.indexes)"
>
  <ngx-datatable-column
    [width]="30"
    [sortable]="false"
    [canAutoResize]="false"
    [draggable]="false"
    [resizeable]="false"
    [headerCheckboxable]="true"
    [checkboxable]="true"
  >
  </ngx-datatable-column>

  <ngx-datatable-column *ngFor="let column of innerColumns"
                        [name]="column.name"
                        [prop]="column.prop"
                        [cellClass]="column.cellClass | datatableClassname"
                        [headerClass]="column.headerClass | datatableClassname"
                        [headerTemplate]="column.headerTemplate"
                        [flexGrow]="column.flexGrow"
                        [minWidth]="column.minWidth"
                        [maxWidth]="column.maxWidth"
                        [resizeable]="column.resizeable | datatableConfig"
                        [sortable]="column.sortable | datatableConfig"
                        [draggable]="column.draggable | datatableConfig"
                        [canAutoResize]="column.canAutoResize | datatableConfig">
  <!--                        [width]="column.width"-->

    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <ng-container *ngIf="column.custom === true">
        <ng-container [ngTemplateOutlet]="column.template" [ngTemplateOutletContext]="{ $implicit: value, row: row, column: column }"></ng-container>
      </ng-container>
      <ng-container *ngIf="column.custom !== true">
        <ng-container *ngIf="column.pipe">
          {{ column.pipe.pipe.transform(value, column.pipe.args) }}
        </ng-container>
        <ng-container *ngIf="!column.pipe">
          {{ value }}
        </ng-container>
      </ng-container>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

<div class="empty-message" *ngIf="(dataSource.totalCount$ | async) === 0">No data to display</div>
