<div class="row mt-3">
  <div class="col-12 card-events">
    <app-datatable [title]="'Events'"
      [loading]="loading"
      [buttons]="tableButtons"
      [dataSource]="tableSource"
      [rowHeight]="35"
      [headerHeight]="40"
      [selectable]="true"
      [selectionType]="'checkbox'"
      (activate)="onActive($event)"
    ></app-datatable>
  </div>
</div>

<app-add-to-list-modal #addToEventListModal
  [type]="DataListType.EventList"
  modalTitle="Add To Event List"
></app-add-to-list-modal>


<app-events-event-modal #eventModal
  [modalType]="modalType"
  [event]="selectedEvent"
  [displayNameList]="displayNameList"
  [folderList]="folderList"
  (save)="loadTableData()"
  (delete)="onClickDeleteFromEdit()"
></app-events-event-modal>

<app-confirm-modal #confirmModal
  modalTitle="Confirm"
  modalMessage="Do you want to delete selected event?"
  [buttons]="confirmButtons"
></app-confirm-modal>