.card-events {
  height: calc(100vh - 130px);
}

.modal-event {
  .input-group-prepend {
    .input-group-text {
      width: 130px;
    }
  }

  ng-select {
    width: calc(100% - 128px) !important;
    min-height: 45px;
  }

  ng-select > div {
    min-height: 45px !important;
  }
}

@media only screen and (max-width: 575px) {
  .card-events {
    padding: 0px;
    height: auto;
  }
}
