<div class="row mt-3">
  <div class="col-12 card-events">
    <app-datatable [title]="'Events'"
      [buttons]="tableButtons"
      [dataSource]="tableSource"
      [rowHeight]="35"
      [headerHeight]="40"
      (activate)="onActive($event)"
    ></app-datatable>
  </div>
</div>

<app-ui-modal #eventModal [containerClick]="false" dialogClass="modal-dialog-centered modal-event modal-xl">
  <div class="app-modal-header">
    <h5 class="modal-title">{{isModalNew ? 'New' : 'Edit'}} Event</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
      (click)="eventModal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="app-modal-body">
    <form [formGroup]="eventForm" (ngSubmit)="onSaveEvent()">
      <div class="row">
        <div class="col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Event Name</span>
            </div>
            <input type="text" class="form-control" formControlName="name" placeholder="e.g: Webinar Event">
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Event Subject</span>
            </div>
            <input type="text" class="form-control" formControlName="subject" placeholder="e.g: Webinar Event">
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Display From</span>
            </div>
            <ng-select [ngClass]="'ng-select'" formControlName="display_name" [options]="displayNameList"></ng-select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Folder</span>
            </div>
            <ng-select [ngClass]="'ng-select'" formControlName="folder" [options]="folderList"></ng-select>
          </div>
        </div>
      </div>
      <div class="row mt-2">
				<div class="col-md-6 col-sm-12 input-group">
          <input class="form-control" autocomplete="off" formControlName="start_date"
            placeholder="yyyy-mm-dd" name="dp_from" ngbDatepicker
						#d_f="ngbDatepicker">
					<div class="input-group-append">
						<span class="input-group-text" (click)="d_f.toggle()">
							<i class="fa fa-calendar"></i>
						</span>
					</div>
					<input type="time" class="form-control" formControlName="start_time">
				</div>
				<div class="col-md-6 col-sm-12 input-group">
          <input class="form-control" autocomplete="off"  formControlName="start_date"
            placeholder="yyyy-mm-dd" name="dp_to" ngbDatepicker
						#d_t="ngbDatepicker">
					<div class="input-group-append">
						<span class="input-group-text" (click)="d_t.toggle()">
							<i class="fa fa-calendar"></i>
						</span>
					</div>
					<input type="time" class="form-control" formControlName="end_time">
				</div>
      </div>
      <div class="row mt-5">
        
          <div class="col-12 preview-toolbar mb-1 d-flex align-items-center">
            <app-personalization-selector class="d-block mr-2" [editor]="emailCampaignEditor"></app-personalization-selector>
            <button class="btn btn-success" appEmailCampaignDynamics [editor]="emailCampaignEditor">Dynamics</button>
            <button class="btn btn-success ml-auto mr-2" appEmailCampaignTemplates>Templates</button>
            <button class="btn btn-success" appEmailCampaignPreview [editor]="emailCampaignEditor">Preview</button>
          </div>
    
          <div class="col-12">
            <app-email-campaign-editor #emailCampaignEditor formControlName="template"></app-email-campaign-editor>
          </div>
    
      </div>
    </form>
  </div>

  <div class="app-modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSaveEvent()">{{isModalNew ? 'Create' : 'Save'}}</button> &nbsp;
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="eventModal.hide()">Close</button>
  </div>
</app-ui-modal>
<app-confirm-modal #confirmModal modalTitle="Confirm" modalMessage="Do you want to delete selected event?"
	[buttons]="confirmButtons"></app-confirm-modal>