<div class="row">
	<div class="col-md-4 col-sd-12 user-section">
		<app-card cardTitle="Users">
			<ngb-tabset>
				<ngb-tab title="Inbox">
					<ng-template ngbTabContent>
						<ul class="chat-users">
							<li *ngFor="let social of socialAccounts" (click)="selectUser(social)"
								[ngClass]="{'selected':selectedUser && social.uniqueUserId===selectedUser.uniqueUserId}">
								<img class="profile-image" [src]="getProfileImage(social)" />
								<img class="social-site" [src]="SocialSiteImages[social.socialMediaType]" />
								<div class="user-name">
									<div class="page">{{social.extensionData.pageName || social.extensionData.screenName}}</div>
									<div class="name">
										{{social.extensionData.userName}}
										<span class="float-right created_at">{{social.extensionData.authorizationDateUTC | date}}</span>
									</div>
								</div>
							</li>
						</ul>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Saved Messages">
					<ng-template ngbTabContent>
						Saved messages
					</ng-template>
				</ngb-tab>
			</ngb-tabset>
		</app-card>
	</div>
	<div class="col-md-8 col-sm-12 message-section">
		<app-card [cardTitle]="chatTitle" [loading]="loadingChatMessages">
			<ul class="chat-messages">
				<li *ngFor="let message of socialChatMessages">
					<div *ngIf="message.personId !== selectedUser.uniqueUserId" class="d-flex">
						<div class="user-image">
							<img [src]="message.profile_image" /><br />
							<span>12:43</span>
						</div>
						<p class="user-chat-text">
							{{message.message}}
						</p>
					</div>
					<div *ngIf="message.personId === selectedUser.uniqueUserId" class="d-flex justify-content-end">
						<p class="mine-chat-text">
							{{message.message}}
						</p>
						<div class="user-image">
							<img [src]="message.profile_image" /><br />
							<span>12:43</span>
						</div>
					</div>
				</li>
			</ul>
		</app-card>
	</div>
</div>