<div class="row">
	<div class="col-md-4 col-sd-12 user-section">
		<app-card cardTitle="Users" [options]="false" [loading]="loading">
			<ngb-tabset>
				<ngb-tab title="Inbox">
					<ng-template ngbTabContent>
						<ul class="chat-users">
							<li *ngFor="let social of socialAccounts" (click)="selectUser(social)"
								[ngClass]="{'selected':selectedUser && social.uniqueUserId===selectedUser.uniqueUserId}">
								<img class="profile-image" [src]="getProfileImage(social)" />
								<img class="social-site" [src]="SocialSiteImages[social.socialMediaType]" />
								<div class="user-name">
									<div class="page">{{social.extensionData.pageName || social.extensionData.screenName}}</div>
									<div class="name">
										{{social.extensionData.userName}}
										<span class="float-right created_at">{{social.extensionData.authorizationDateUTC | date}}</span>
									</div>
								</div>
							</li>
						</ul>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Saved Messages">
					<ng-template ngbTabContent>
						Saved messages
					</ng-template>
				</ngb-tab>
			</ngb-tabset>
		</app-card>
	</div>
	<div class="col-md-8 col-sm-12 message-section">
		<app-card [cardTitle]="chatTitle" [options]="false" [loading]="loadingChatMessages">
			<ul class="chat-messages">
				<li *ngFor="let message of socialChatMessages">
					<div *ngIf="message.type === 'separator'" class="separator">
						<div class="first-hr"><hr /></div>
						<div class="date">{{message.value}}</div>
						<div class="last-hr"><hr /></div>
					</div>
					<div *ngIf="message.personId !== selectedUser.uniqueUserId && message.message">
						<div class="user-opp-name">
							{{message.creationDateTime | date: 'hh:mm a'}}
						</div>
						<div class="d-flex">
							<span class="user-avatar" [title]="message.fromName">
								{{getInitial(message.fromName)}}
							</span>
							<p class="user-chat-text">
								{{message.message}}
							</p>
						</div>
					</div>
					<div *ngIf="message.personId === selectedUser.uniqueUserId && message.message">
						<div class="user-name">
							{{message.creationDateTime | date: 'hh:mm a'}}
						</div>
						<div class="d-flex justify-content-end">
							<p class="mine-chat-text">
								{{message.message}}
							</p>
							<span class="user-avatar" [title]="message.fromName">
								{{getInitial(message.fromName)}}
							</span>
						</div>
					</div>
				</li>
			</ul>
		</app-card>
	</div>
</div>