<app-card #cardSubTasks cardTitle="Sub Tasks" [cardButtons]="[]" cardClass="card-sub-tasks"
	[options]="false">
	<div class="total-counts">
		<div class="position-relative">
			<div class="ml-auto">
				<span class="campaigns-header_totalNum ml-auto mr-2">Total Sub Tasks:
					{{tableSource.totalCount$ | async}}</span>
				<span class="mr-2" (click)="tableSource.prevPage()"><i class="fa fa-chevron-left"></i></span>
				<span class="mr-2" (click)="tableSource.nextPage()"><i class="fa fa-chevron-right"></i></span>
			</div>
		</div>
	</div>
	<div class="d-flex">
		<button type="button" class="btn btn-outline-primary btn-normal-padding" (click)="onClickAddTask()">
			<i class="fa fa-plus"></i> New Subtask
		</button>
		<button type="button" class="btn btn-outline-primary btn-normal-padding" (click)="onClickDelete()" *ngIf="selected.length > 0">
			<i class="fa fa-trash"></i> Delete
		</button>
	</div>
	<div class="sub-task-table mt-2">
		<app-datatable [dataSource]="tableSource" [rowHeight]="35" [headerHeight]="40" [selectionType]="'single'"
			[selectable]="true" (activate)="onClickSubTask($event)"></app-datatable>

		<div class="w-100">
			<app-datatable-pagination [tableSource]="tableSource"></app-datatable-pagination>
		</div>
	</div>
</app-card>

<app-ui-modal #addSubTaskModal dialogClass="modal-dialog-centered" [dialogClass]="'modal-lg add-sub-task-modal'">
	<div class="app-modal-header">
		<h5 class="modal-title">Add Sub Task</h5>
		<button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
			(click)="addSubTaskModal.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="app-modal-body">
		<div class="row">
			<div class="col-md-6">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">Task</span>
					</div>
					<input type="text" class="form-control" readonly />
				</div>
			</div>
			<div class="col-md-6">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">User</span>
					</div>
					<input type="text" class="form-control" readonly />
				</div>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-md-12 input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">Sub Task</span>
				</div>
				<input type="text" class="form-control" />
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-md-12 input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">Description</span>
				</div>
				<input type="text" class="form-control" />
			</div>
		</div>

		<div class="row mt-2">
			<div class="col-md-6 input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">Start</span>
				</div>
				<input class="form-control" autocomplete="off" placeholder="yyyy-mm-dd" name="dp_from" ngbDatepicker
					#d_f="ngbDatepicker">
				<div class="input-group-append">
					<span class="input-group-text" (click)="d_f.toggle()">
						<i class="fa fa-calendar"></i>
					</span>
				</div>
			</div>
			<div class="col-md-6 input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">End</span>
				</div>
				<input class="form-control" autocomplete="off" placeholder="yyyy-mm-dd" name="dp_to" ngbDatepicker
					#d_t="ngbDatepicker">
				<div class="input-group-append">
					<span class="input-group-text" (click)="d_t.toggle()">
						<i class="fa fa-calendar"></i>
					</span>
				</div>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-md-12 input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">Estimation</span>
				</div>
				<input type="text" class="form-control" />
			</div>
		</div>
	</div>

	<div class="app-modal-footer">
		<button type="button" class="btn btn-primary">Create</button> &nbsp;
		<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="addSubTaskModal.hide()">Close</button>
	</div>
</app-ui-modal>

<div class="toast-div">
	<app-toast uID="toast2" toastTitle="Notice" toastCaption="" toastClass="bg-blue-light m-b-10 m-r-10">
		Please Select Task.
	</app-toast>
</div>
<ng-template #progressTemplate let-row="row" let-value let-i="index">
	<span class="percent">{{value}}%</span>
	<ngb-progressbar height="20px" [value]="value"></ngb-progressbar>
</ng-template>


<ng-template #userNameTemplate let-row="row" let-value let-i="index">
  <span>{{ user.name }}</span>
</ng-template>
<app-confirm-modal #confirmModal modalTitle="Confirm" modalMessage="Do you want to delete selected rows?"
	[buttons]="confirmButtons"></app-confirm-modal>