<app-card cardTitle="Sub Tasks" #cardSubTasks [cardButtons]="cardButtonsInSubTasks" cardClass="card-sub-tasks" [options]="false">
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead class="sub-task-table-header">
				<th>Task Name</th>
				<th>Description</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Progress</th>
				<th>Est.</th>
				<th>Member</th>
			</thead>
			<tbody class="sub-task-table-body">
				<tr *ngFor="let subTask of subTasks" (click)="onClickSubTask(subTask.id)" [ngClass]="{'selected': subTask.id === selectedSubTaskId}">
					<td>{{subTask.name}}</td>
					<td>{{subTask.desc}}</td>
					<td>{{subTask.start_date.substring(0, 11)}}</td>
					<td>{{subTask.end_date.substring(0, 11)}}</td>
					<td class="flex-position-relative">
						<span class="percent">{{subTask.percent}}%</span>
						<ngb-progressbar height="20px" [value]="subTask.percent"></ngb-progressbar>
					</td>
					<td>{{subTask.esti_hours}}</td>
					<td>{{userName}}</td>
				</tr>
				<tr *ngIf="subTasks.length === 0">
					<td colspan=6 align="center">No data available in table</td>
				</tr>
			</tbody>
		</table>
	</div>
</app-card>

<app-ui-modal #addSubTaskModal dialogClass="modal-dialog-centered" [dialogClass]="'modal-lg add-sub-task-modal'">
	<div class="app-modal-header">
		<h5 class="modal-title">Add Sub Task</h5>
		<button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="addSubTaskModal.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="app-modal-body">
		<div class="row">
			<div class="col-md-6">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">Task</span>
					</div>
					<input type="text" class="form-control" [value]="taskName" readonly />
				</div>
			</div>
			<div class="col-md-6">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">User</span>
					</div>
					<input type="text" class="form-control" [value]="userName" readonly />
				</div>
			</div>
		</div> 
		<div class="row mt-4">
			<div class="col-md-12 input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">Sub Task</span>
				</div>
				<input type="text" class="form-control" />
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-md-12 input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">Description</span>
				</div>
				<input type="text" class="form-control" />
			</div>
		</div>

		<div class="row mt-2">
			<div class="col-md-6 input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">Start</span>
				</div>
				<input class="form-control" autocomplete="off" placeholder="yyyy-mm-dd" name="dp_from" ngbDatepicker #d_f="ngbDatepicker">
				<div class="input-group-append">
					<span class="input-group-text" (click)="d_f.toggle()">
						<i class="fa fa-calendar"></i>
					</span>
				</div>
			</div>
			<div class="col-md-6 input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">End</span>
				</div>
				<input class="form-control" autocomplete="off" placeholder="yyyy-mm-dd" name="dp_to" ngbDatepicker #d_t="ngbDatepicker">
				<div class="input-group-append">
					<span class="input-group-text" (click)="d_t.toggle()">
						<i class="fa fa-calendar"></i>
					</span>
				</div>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-md-12 input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">Estimation</span>
				</div>
				<input type="text" class="form-control" />
			</div>
		</div>
	</div>

	<div class="app-modal-footer">
		<button type="button" class="btn btn-primary">Create</button> &nbsp;
		<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="addSubTaskModal.hide()">Close</button>
	</div>
</app-ui-modal>

<div class="toast-div">
	<app-toast uID="toast2" toastTitle="Notice" toastCaption="" toastClass="bg-blue-light m-b-10 m-r-10">
		Please Select Task.
	</app-toast>
</div>
