<app-datatable
	[title]="'Sub Tasks'"
	[loading]="loading"
	[dataSource]="tableSource"
	[rowHeight]="35"
	[headerHeight]="40"
	[selectionType]="'single'"
	[buttons]="tableButtons"
	[selectable]="false"
	(activate)="onClickSubTask($event)">
</app-datatable>

<div class="toast-div">
	<app-toast uID="toast2" toastTitle="Notice" toastCaption="" toastClass="bg-blue-light m-b-10 m-r-10">
		Please Select Task.
	</app-toast>
</div>
<ng-template #progressTemplate let-row="row" let-value let-i="index">
	<span class="percent">{{value}}%</span>
	<ngb-progressbar height="20px" [value]="value"></ngb-progressbar>
</ng-template>


<ng-template #userNameTemplate let-row="row" let-value let-i="index">
	<span>{{ user.label }}</span>
</ng-template>

<app-campaign-tasks-sub-task-modal #subTaskModal
	[modalType]="modalType"
	[subTask]="selectedSubTask"
	[user]="user"
	[task]="task"
	(update)="reloadSubTasks()"
	(delete)="onClickDelete()"
></app-campaign-tasks-sub-task-modal>

<app-confirm-modal #confirmModal modalTitle="Confirm" modalMessage="Do you want to delete selected sub task?"
	[buttons]="confirmButtons"></app-confirm-modal>