.main-card {
  @media only screen and (max-width: 767px) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.input-item {
  margin-bottom: 10px;
}

.input-group-text {
  width: 140px;
}

.main-header {
  background-color: whitesmoke;
}

.card-body > form {
  margin-top: 20px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-body {
  height: calc(100vh - 250px);
  overflow-y: auto;
  padding: 0;

  .row {
    margin: 0;
  }

  .sub-header {
    padding: 10px 0;
  }
}

.main-header {
  background-color: whitesmoke;
}

.sub-header {
  display: flex;
  justify-content: center;
  border: 2px solid whitesmoke;
  align-items: center;
}

.add-btn {
  &:hover {
    background-color: #00acf0;
    color: white;
  }
}

ng-select {
  width: calc(100% - 138px) !important;
  min-height: 45px;
  .single {
    .value {
      line-height: 43px;
    }
  }
}

ng-select > div {
  min-height: 45px !important;
}
ng-select.ng-select > div > div.single {
  min-height: 45px !important;
  span {
    line-height: 43px;
  }
}

@media only screen and (max-width: 575px) {
  ng-select {
    width: 100% !important;
  }
}
