.input-group-text {
  width: 140px;
}

.sub-header {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
}

ng-select {
  width: calc(100% - 138px) !important;
  min-height: 45px;
  .single {
    .value {
      line-height: 43px;
    }
  }
}

ng-select > div {
  min-height: 45px !important;
}
ng-select.ng-select > div > div.single {
  min-height: 45px !important;
  span {
    line-height: 43px;
  }
}

@media only screen and (max-width: 575px) {
  ng-select {
    width: 100% !important;
  }
}

.timeframe-container {
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}