:host {
  .main-card {

    @media only screen and (max-width: 767px) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  .input-item {
    margin-bottom: 10px;
  }

  .input-group-text {
    width: 140px;
  }

  .mobile-show {
    display: none;

    @media only screen and (max-width: 575px) {
      display: inherit;
    }
  }

  .mobile-hide {
    display: inherit;

    @media only screen and (max-width: 575px) {
      display: none;
    }
  }

  .main-header {
    background-color: whitesmoke;
  }

  .card-body > form {
    margin-top: 20px;
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .maximize {
      margin-top: 3px;
    }
  }

  .main-body {
    height: calc(100vh - 250px);
    overflow-y: auto;
    padding: 0;

    .row {
      margin: 0;
    }

    .sub-header {
      padding: 10px 0;
    }
  }

  .main-header {
    background-color: whitesmoke;
  }

  .sub-header {
    display: flex;
    justify-content: center;
    border: 2px solid whitesmoke;
    align-items: center;
  }

  .add-btn {

    &:hover {
      background-color: #00acf0;
      color: white;
    }
  }
}
