<div class="row">
	<div class="col-md-9 col-sm-12 activity-data">
		<app-card cardTitle="Activity Filter" [options]="false" blockClass="p-t-20">
			<div class="row mb-4">
				<div class="col-md-3 col-sd-12 input-group">
					<input class="form-control" [(ngModel)]="filterDate" autocomplete="off" placeholder="YYYY-MM-DD"
						name="dp_from" ngbDatepicker #d_f="ngbDatepicker">
					<div class="input-group-append">
						<span class="input-group-text" (click)="d_f.toggle()">
							<i class="fa fa-calendar"></i>
						</span>
					</div>
				</div>
				<div class="col-md-9 col-sd-12 select-campaign input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">Campaign</span>
					</div>
					<ng-select [ngClass]="'ng-select'" [(ngModel)]="selectedCampaignId" [options]="campaigns"></ng-select>
				</div>
			</div>
			<div class="activities">
				<app-datatable
					[title]="'Recent Activities'"
					[showHeader]="false"
					[dropShadow]="false"
					[loading]="loading"
					[dataSource]="tableSource"
					[buttons]="tableButtons"
					[rowHeight]="35"
					[headerHeight]="40"
					[selectionType]="'single'"
					[selectable]="false"
					(activate)="onActive($event)"
				></app-datatable>
			</div>
		</app-card>
	</div>
	<div class="col-md-3 col-sm-12 activity">
		<app-card cardTitle="Recent Activities" [options]="false" blockClass="p-t-20">
			<div class="activity-list" infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="10"
				(scrolled)="onReloadActivities()" [scrollWindow]="false" #activityList (scroll)="onScrollActivityView($event)">
				<div class="card-notification" *ngFor="let activity of activities; let i = index"
					[ngClass]="'circle-color-' + (i % 7)">
					<div class="card-noti-conatin">
						<small>{{getTimeAgo(activity.time)}}</small>
						<p class="text-muted m-b-30">{{activity.message}}</p>
					</div>
				</div>
			</div>
		</app-card>
	</div>
</div>