<div class="row">
	<div class="col-md-9 col-sm-12 activity-data">
		<app-card cardTitle="Activity Filter" [options]="false" blockClass="p-t-20">
			<div class="row mb-4">
				<div class="col-md-3 col-sd-12 input-group">
					<input class="form-control" [(ngModel)]="filterDate" autocomplete="off" placeholder="YYYY-MM-DD"
						name="dp_from" ngbDatepicker #d_f="ngbDatepicker">
					<div class="input-group-append">
						<span class="input-group-text" (click)="d_f.toggle()">
							<i class="fa fa-calendar"></i>
						</span>
					</div>
				</div>
				<div class="col-md-9 col-sd-12 select-campaign input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">Campaign</span>
					</div>
					<ng-select [ngClass]="'ng-select'" [(ngModel)]="selectedCampaignId" [options]="campaigns"></ng-select>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover mb-0">
					<colgroup>
						<col width="11%">
						<col width="12%">
						<col width="15%">
						<col width="20%">
						<col>
					</colgroup>
					<thead>
						<tr>
							<th>Activity time</th>
							<th>User</th>
							<th>Module</th>
							<th>Campaign</th>
							<th>Notification</th>
						</tr>
					</thead>
				</table>
				<div (scroll)="onScrollTable($event)" class="activity-data-list" infiniteScroll [infiniteScrollDistance]="0"
					[infiniteScrollThrottle]="10" (scrolled)="onReloadActivities()" [scrollWindow]="false" #activityDataList>
					<table class="table table-striped table-hover">
						<colgroup>
							<col width="11%">
							<col width="12%">
							<col width="15%">
							<col width="20%">
							<col>
						</colgroup>
						<tbody>
							<tr *ngFor="let activity of activities">
								<td>{{ activity.time }}</td>
								<td>{{ activity.user }}</td>
								<td>{{ activity.module_id }}</td>
								<td>{{ activity.campaign }}</td>
								<td>{{ activity.message }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</app-card>
	</div>
	<div class="col-md-3 col-sm-12 activity">
		<app-card cardTitle="Recent Activities" [options]="false" blockClass="p-t-20">
			<div class="activity-list" infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="10"
				(scrolled)="onReloadActivities()" [scrollWindow]="false" #activityList (scroll)="onScrollActivityView($event)">
				<div class="card-notification" *ngFor="let activity of activities; let i = index"
					[ngClass]="'circle-color-' + (i % 7)">
					<div class="card-noti-conatin">
						<small>{{getTimeAgo(activity.time)}}</small>
						<p class="text-muted m-b-30">{{activity.message}}</p>
					</div>
				</div>
			</div>
		</app-card>
	</div>
</div>