<div class="auth-wrapper align-items-stretch aut-bg-img">
  <div class="flex-grow-1">
    <div class="h-100 d-md-flex align-items-center auth-side-img">
      <div class="col-sm-8 auth-content w-auto">
        <img src="assets/images/logo.png" alt="" class="img-fluid" />
        <h1 class="text-white display-3 my-4">Understand and look deep into nature.</h1>
        <h6 class="text-white font-weight-normal">The passage experienced a surge in popularity during the 1960s when Letraset used it on their dry-transfer sheets, and again during the 90s as desktop publishers bundled the text with their software.</h6>
      </div>
    </div>
    <div class="auth-side-form">
      <div class=" auth-content">
        <div class="card">
          <div class="card-body" align="center">
            <a [routerLink]="['/']"><img src="assets/images/logo.png" alt="" class="img-fluid" width="270px" /></a>
          </div>
        </div>
        <div class="card">
          <div class="row align-items-center text-center">
            <div class="col-md-12">
              <div class="card-body p-4">
                
                <form action="javascript:">
                  <h1 class="display-5 mb-4 text-success">Login</h1>
                  <div class="form-group">
                    <input class="form-control" placeholder="Tenancy name" type="text">
                  </div>
                  <div class="form-group">
                    <input class="form-control" placeholder="User name or email" type="email">
                  </div>
                  <div class="form-group">
                    <input class="form-control" placeholder="Password" type="password">
                  </div>
                  <div class="text-left">
                    <button class="btn btn-login " type="submit">Login</button>&nbsp;&nbsp;
                    <a [routerLink]="['/auth/reset-password']">Forgot password?</a> &nbsp;
                    <a href="https://campaigntocash.com/">Go To Website</a>
                  </div>
                  <div class="custom-control text-left custom-checkbox mt-4">
                    <input class="custom-control-input" id="remember_me" type="checkbox" checked="">
                    <label class="custom-control-label font-14" for="remember_me">Remember me</label>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
            <div class="copyright">
              2020 © CampaignToCash.Com, Inc.
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
