.input-group-text {
  width: 160px;
}
.readonly-textarea {
  background: whitesmoke;
}
.btn-copy-url {
  margin-left: 160px;
}

@media only screen and (max-width: 575px) {
  .utm-builder {
    padding: 0;
  }
}
