.file-upload {
  height: 45px !important;
  min-height: 45px !important;
  overflow: hidden;
  .upload-text {
    height: 43px !important;
    padding: 0px 10px !important;
    line-height: 43px;
  }
  .upload-button {
    line-height: 40px !important;
    text-align: center !important;
  }
}
.mobile-show {
  display: none;
}

.import-csv-section {
  .input-group-text {
    width: 140px;
  }

  ng-select {
    width: calc(100% - 138px);
    min-height: 45px;
    .single {
      .value {
        line-height: 43px;
      }
    }
  }

  ng-select > div {
    min-height: 45px !important;
  }
}

.data-mapping-section {
  .input-group-text {
    width: 140px;
  }

  ng-select {
    width: calc(100% - 189px);
    min-height: 45px;
    .single {
      .value {
        line-height: 43px;
      }
    }
  }

  ng-select > div {
    min-height: 45px !important;
  }

  .btn-left-gutter {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -2px;
    z-index: 100;
  }
}

.fields-list {
  height: 247px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  .search {
    height: 30px;
    & > input {
      width: calc(100% - 20px);
      height: 30px;
      border: none;
      border-bottom: 1px solid #ddd;
      margin: 0 10px;
      padding: 0 5px;
    }
  }
  .left-fields {
    width: 25%;
    border: 1px dashed;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    .csv-fields {
      height: 215px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 2px;
      }
    }
  }
  .center-fields {
    width: 50%;
    .mapping-fields {
      border-bottom: 1px dashed;
      border-top: 1px dashed;
      height: 217px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 2px;
      }
    }
  }
  .right-fields {
    width: 25%;
    border: 1px dashed;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    .db-fields {
      height: 215px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 2px;
      }
    }
  }
}

.import-wizard {
  margin-top: -15px;
  .line-height-25 {
    line-height: 25px;
  }
}
.my-check {
  display: flex;
  & > input[type="checkbox"] {
    margin-top: 15px;
  }
}

ul.fields {
  li {
    margin: 5px 10px;
    width: calc(100% - 18px);
    display: flex;
    justify-content: space-between;
    position: relative;
    .field-name {
      padding: 0px 10px;
      border: 1px solid #45bce1;
      overflow: hidden;
      height: 30px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: calc(100% - 24px);
      line-height: 30px;
      font-size: 13px;
    }
    .field-action {
      width: 24px;
      background: #01cc71;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      cursor: pointer;
    }
    .field-type {
      border-radius: 2px;
      width: 14px;
      height: 14px;
      position: absolute;
      right: 8px;
      top: 7px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      &.number {
        background-color: #f597ff;
        color: black;
      }
      &.string {
        background-color: #dcff2d;
        color: black;
      }
      &.boolean {
        background-color: #ffcc97;
        color: black;
      }
    }
  }
}

.map-field {
  margin: 5px 15px;
  .field {
    padding: 0px 10px;
    border: 1px solid #45bce1;
    overflow: hidden;
    height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px 3px;
    background: #efefef;
    line-height: 30px;
    font-size: 13px;
    display: flex;
  }
  .field-type {
    position: absolute;
    right: 10px;
    top: 7px;
    background: aquamarine;
    width: 14px;
    height: 14px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.number {
      background-color: #f597ff;
      color: black;
    }
    &.string {
      background-color: #dcff2d;
      color: black;
    }
    &.boolean {
      background-color: #ffcc97;
      color: black;
    }
  }
  .remove-row {
    position: absolute;
    right: -13px;
    top: 7px;
    z-index: 10;
    border: 0;
    background: transparent;
    padding: 0;
  }
}

.unique-form {
  .information {
    padding-left: 30px;
  }
  ul.unique-select {
    height: 253px;
    overflow-y: auto;
    margin-top: -16px;
    &::-webkit-scrollbar {
      width: 2px;
    }

    li {
      margin: 10px 10px;
    }
  }
}
@media only screen and (max-width: 575px) {
  .mobile-show {
    display: inherit;
  }

  .import-csv-section,
  .data-mapping-section {
    .input-group-text {
      width: 140px;
      display: none;
    }

    ng-select {
      width: calc(100% - 53px);
    }
  }
}
