<div class="row mt-3">
  <div class="col-12 card-shortcuts">
    <h1 class="shortcuts-title">Campaign Configuration Setup</h1>
    
      <div class="shortcuts row">
        <div *ngFor="let shortcut of shortcuts" class="col-md-3 mt-4 mobile-shortcut">
          <app-card cardClass="shortcut" [cardTitle]="shortcut.name" [options]="false">
            <ul>
              <li *ngFor="let link of shortcut.children"
                (click)="onClickShortcut(link)"
                [title]="link.label"
                [ngClass]="{'not-linked': link.link==='/'}">
                <i class="fa fa-link"></i>{{link.label}}</li>
            </ul>
          </app-card>
        </div>
        
      </div>
    
  </div>
</div>