<div class="row mt-3">
  <div class="col-12 card-shortcuts">
    <h1 class="shortcuts-title">Campaign Configuration Setup</h1>
    
      <div class="shortcuts row">
        <div *ngFor="let shortcut of shortcuts" class="col-md-3 mt-4 mobile-shortcut">
          <app-card cardClass="shortcut" [cardTitle]="shortcut.name" [options]="false">
            <ul>
              <li *ngFor="let link of shortcut.children"
                (click)="onClickShortcut(link)"
                [title]="link.label"
                [ngClass]="{'not-linked': link.link==='/'}">
                <i class="fa fa-link"></i>{{link.label}}</li>
            </ul>
          </app-card>
        </div>
        
      </div>
    
  </div>
</div>

<app-report-date-range-modal #emailRange [modalType]="'email'"></app-report-date-range-modal>
<app-report-date-range-modal #smsRange [modalType]="'sms'"></app-report-date-range-modal>
<app-report-send-result-modal #emailSendResult [modalType]="'email'"></app-report-send-result-modal>
<app-report-send-result-modal #smsSendResult [modalType]="'sms'"></app-report-send-result-modal>
<app-send-subscriber-modal #sendSubscriber></app-send-subscriber-modal>
<app-add-to-list-modal #addToListModal modalTitle="Lists"></app-add-to-list-modal>
<app-add-to-list-modal #addToEventListModal [type]="DataListType.EventList" modalTitle="Events"></app-add-to-list-modal>