<div class="row mt-3">
  <div class="col-md-4 card-lists">
    <app-datatable [title]="'List'" [buttons]="tableButtons" [dataSource]="tableSource" [rowHeight]="35"
      [headerHeight]="40" (activate)="onActive($event)"></app-datatable>
  </div>
  <div class="col-md-8 card-records">
    <app-datatable [title]="'Assigned Records'" [buttons]="recordsTableButtons" [dataSource]="tableSourceRecords"
      [selectionType]="'checkbox'" [selectable]="true" [rowHeight]="35" [headerHeight]="40"
      (activate)="onActiveRecords($event)"></app-datatable>
  </div>
</div>
<!-- template of Display From-->
<!-- <ng-template #templateDisplayFrom let-row="row" let-value let-i="index">
  <span>{{ getTypeList(value) }}</span>
</ng-template> -->


<app-confirm-modal #confirmModal
  modalTitle="Confirm"
  modalMessage="Do you want to delete selected list?"
  [buttons]="confirmButtons"
></app-confirm-modal>

<app-data-list-modal #listModal
  [modalType]="modalType"
  [list]="selectedList"
></app-data-list-modal>

<app-confirm-modal #confirmRemoveRecordsModal modalTitle="Confirm"
  modalMessage="Do you want to remove selected records from the list?" [buttons]="confirmRemoveRecordsButtons">
</app-confirm-modal>

<app-ui-modal #dataRecordsModal [containerClick]="false" dialogClass="modal-dialog-centered modal-list modal-xl">
  <div class="app-modal-header">
    <h5 class="modal-title">Select Records</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
      (click)="dataRecordsModal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="app-modal-body">
    <app-data-records [buttons]="tableRecordsButtons" (activate)="onActiveRecordsTable($event)"></app-data-records>
  </div>

  <div class="app-modal-footer">
    <button type="button" class="btn btn-primary">Add Records</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal"
      (click)="dataRecordsModal.hide()">Close</button>
  </div>
</app-ui-modal>