.card-lists,
.card-records {
  height: calc(100vh - 130px);
}

.card-records {
  padding-left: 0px;
}


@media only screen and (max-width: 575px) {
  .card-lists,
  .card-records {
    padding: 0px;
    height: 500px;
  }
}
