.card-lists,
.card-records {
  height: calc(100vh - 130px);
}

.card-records {
  padding-left: 0px;
}

.modal-list {
  .input-group-prepend {
    .input-group-text {
      width: 130px;
    }
  }

  ng-select {
    width: calc(100% - 128px);
    min-height: 45px;
    .single {
      .value {
        line-height: 43px;
      }
    }
  }

  ng-select > div {
    min-height: 45px !important;
  }

  .data-records {
    height: 400px !important;
    margin-bottom: 0px;
  }
}

.mobile-show {
  display: none;
}
@media only screen and (max-width: 575px) {
  .card-lists,
  .card-records {
    padding: 0px;
    height: 500px;
  }
  .mobile-mt {
    margin-top: 9px;
  }
  .mobile-hide {
    display: none;
  }
  .mobile-show {
    display: inherit;
  }

  .modal-list {
    ng-select {
      width: 100%;
      min-height: 45px;
      .single {
        .value {
          line-height: 43px;
        }
      }
    }

    ng-select > div {
      min-height: 45px !important;
    }
  }
}
