:host{

  .usage-dashboard {

    @media only screen and (max-width: 767px) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  .campaign-type {
    width: 220px;
  }

  .view-option-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 1440px) {
      display: block;
    }

    .view-radio-option-group {
      display: flex;
      flex-wrap: wrap;
      margin-left: auto;

      .view-option {
        margin: 10px 10px 10px 0;
      }
    }
  }

  .custom-control {
    display: flex;
    align-items: center;
  }

  .all-usage-part {
    margin-top: 20px;
    padding: 0;
  }

  .all-usage-table {
    margin: 0;

    &_header, &_content > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      padding-right: 20px;
    }

    &_header {
      background-color: whitesmoke;
    }

    &_content {
      padding: 0;

    }
  }

  .modal-body {
    margin: 0 -50px;
  }

  .empty-table {
    height: 133px;
    overflow-y: auto;
  }
}