:host{

  .campaign-type {
    width: 220px;
  }

  .view-option-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .custom-control {
    display: flex;
    align-items: center;
  }

  .all-usage-part {
    margin-top: 20px;
    padding: 0;
  }

  .all-usage-table {
    margin: 0;

    &_header, &_content > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      padding-right: 20px;
    }

    &_content {
      padding: 0;

    }
  }
}