<div class="row mt-3">
  <div class="col-12 card-lists">
    <app-datatable [title]="'Custom Fields'"
      [buttons]="tableButtons"
      [dataSource]="tableSource"
      [rowHeight]="35"
      [headerHeight]="40"
      (activate)="onActive($event)"
    ></app-datatable>
  </div>
</div>

<app-ui-modal #customFieldsModal [containerClick]="false" dialogClass="modal-dialog-centered modal-list modal-xl">
  <div class="app-modal-header">
    <h5 class="modal-title">{{isModalNew ? 'New' : 'Edit'}} Custom Field</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
      (click)="customFieldsModal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="app-modal-body">
    <!-- <form [formGroup]="listForm" (ngSubmit)="onSaveList()">
      <div class="row">
        <div class="col-md-4">
          <label class="mobile-show">Field Name</label>
          <div class="input-group">
            <div class="input-group-prepend mobile-hide">
              <span class="input-group-text">Field Name</span>
            </div>
            <input type="text" class="form-control" formControlName="name" placeholder="Custom Field Name">
          </div>
        </div>
        <div class="col-md-4 mobile-mt">
          <label class="mobile-show">Default Value</label>
          <div class="input-group">
            <div class="input-group-prepend mobile-hide">
              <span class="input-group-text">Default Value</span>
            </div>
            <input type="text" class="form-control" formControlName="defaultValue" placeholder="e.g: Webinar Event">
          </div>
        </div>
     
        <div class="col-md-4">
          <label class="mobile-show">Type</label>
          <div class="input-group">
            <div class="input-group-prepend mobile-hide">
              <span class="input-group-text">Type</span>
            </div>
            <ng-select [ngClass]="'ng-select'" formControlName="type" [options]="customFieldsType"></ng-select>
          </div>
        </div>
       
      </div> 
    </form>-->
  </div>

  <div class="app-modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSaveList()">{{isModalNew ? 'Create' : 'Save'}}</button> &nbsp;
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="customFieldsModal.hide()">Close</button>
  </div>
</app-ui-modal>
<app-confirm-modal #confirmModal modalTitle="Confirm" modalMessage="Do you want to delete selected event?"
	[buttons]="confirmButtons"></app-confirm-modal>