<div class="row mt-3">
  <div class="col-12 card-custom-fields">
    <app-datatable [title]="'Custom Fields'"
      [loading]="loading"
      [buttons]="tableButtons"
      [dataSource]="tableSource"
      [rowHeight]="35"
      [selectable]="false"
      [selectionType]="'single'"
      [headerHeight]="40"
      (activate)="onActive($event)"
    ></app-datatable>
  </div>
</div>

<app-data-custom-field-modal #customFieldModal
  [modalType]="modalType"
  [customField]="selectedCustomField"
  (save)="onSave()"
  (delete)="onClickDelete()"
></app-data-custom-field-modal>

<app-confirm-modal #confirmModal
  modalTitle="Confirm"
  modalMessage="Do you want to delete selected custom fields?"
  [buttons]="confirmButtons"
></app-confirm-modal>