<div class="row mt-3">
  <div class="col-12 card-custom-fields">
    <app-datatable [title]="'Custom Fields'"
      [buttons]="tableButtons"
      [dataSource]="tableSource"
      [rowHeight]="35"
      [selectable]="true"
      [selectionType]="'checkbox'"
      [headerHeight]="40"
      (activate)="onActive($event)"
    ></app-datatable>
  </div>
</div>

<app-ui-modal #customFieldsModal dialogClass="modal-dialog-centered modal-custom-fields modal-lg">
  <div class="app-modal-header">
    <h5 class="modal-title">{{isModalNew ? 'New' : 'Edit'}} Custom Field</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
      (click)="customFieldsModal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="app-modal-body">
    <form [formGroup]="customFieldsForm" (ngSubmit)="onSaveCustomField()">
      <div class="row">
        <div class="col-md-6">
          <label class="mobile-show">Field Name</label>
          <div class="input-group">
            <div class="input-group-prepend mobile-hide">
              <span class="input-group-text">Field Name</span>
            </div>
            <input type="text" class="form-control" formControlName="name" placeholder="Custom Field Name">
          </div>
        </div>
        <div class="col-md-6 mobile-mt">
          <label class="mobile-show">Type</label>
          <div class="input-group">
            <div class="input-group-prepend mobile-hide">
              <span class="input-group-text">Type</span>
            </div>
            <ng-select [ngClass]="'ng-select'" formControlName="type" [options]="customFieldsType"></ng-select>
          </div>
        </div>
      </div> 
      <div class="row mt-2">
        <div class="col-md-12">
          <label class="mobile-show">Default Value</label>
          <div class="input-group" *ngIf="defaultValueType === 'Text'">
            <div class="input-group-prepend mobile-hide">
              <span class="input-group-text">Default Value</span>
            </div>
            <input type="text" class="form-control" formControlName="defaultValue">
          </div>
          <div class="input-group" *ngIf="defaultValueType === 'Numeric'">
            <div class="input-group-prepend mobile-hide">
              <span class="input-group-text">Default Value</span>
            </div>
            <input type="number" class="form-control" formControlName="defaultValue">
          </div>
          <div class="input-group" *ngIf="defaultValueType === 'Date'">
            <div class="input-group-prepend mobile-hide">
              <span class="input-group-text">Default Value</span>
            </div>
            <input class="form-control" autocomplete="off" formControlName="defaultValue"
              placeholder="yyyy-mm-dd" name="dp_to" ngbDatepicker
              #d_t="ngbDatepicker">
            <div  class="input-group-append">
              <span class="input-group-text" (click)="d_t.toggle()">
                <i class="fa fa-calendar"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="app-modal-footer">
    <button type="button" class="btn btn-danger" *ngIf="!isModalNew">Delete</button>
    <button type="button" class="btn btn-primary" (click)="onSaveCustomField()">{{isModalNew ? 'Create' : 'Save'}}</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="customFieldsModal.hide()">Close</button>
  </div>
</app-ui-modal>
<app-confirm-modal #confirmModal modalTitle="Confirm" modalMessage="Do you want to delete selected event?"
	[buttons]="confirmButtons"></app-confirm-modal>