<div class="card google-ads-section">
  <div class="card-header">Google Ads</div>
  <div class="card-body position-relative">
    <div class="spinner-border text-primary center-position" *ngIf="loading" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="row form-group">
      <div class="col-lg-4">
        <label class="mobile-show">Google User</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Google User</span>
          </div>
          <select class="form-control" [disabled]="loading" (change)="onChangeAdCustomer($event.target.value)" >
            <option *ngif="adsCustomers.length === 0" value="" selected="selected"></option>
            <option *ngFor="let adCustomer of adsCustomers"
              [value]="adCustomer.customerId">
              {{adCustomer.customerName}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-lg-4">
        <label class="mobile-show">Ad Account</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Ad Account</span>
          </div>
          <select [disabled]="loading" (change)="onChangeAdAccount($event.target.value)" class="form-control">
            <option *ngif="adAccounts.length === 0" value="" selected="selected"></option>
            <!-- ngRepeat: account in adaccounts -->
            <option *ngFor="let adAccount of adAccounts" [value]="adAccount.clientId">
              {{adAccount.clientId}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 text-right">
        <button class="btn btn-primary" [disabled]="loading" (click)="onClickCreate()">
          <i class="fa fa-plus mr-2"></i>
          Create New
        </button>
      </div>
    </div>
    <div class="row google-ads-list">
      <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let campaign of adCampaigns">
        <div class="card">
          <div class="card-header">{{campaign.campaignName}}</div>
          <div class="card-body position-relative">
            <div>[Group] {{campaign.groupName}}</div>
            <div>{{campaign.headline1}} | {{campaign.headline2}} </div>
            <div>{{campaign.finalURL}}</div>
            <div>[Status] {{campaign.status}}</div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>