<div class="row">
  <div class="col-xl-6 col-lg-12 card-campaigns">
    <app-card cardTitle="Campaigns" #cardTeams cardClass="card-datatable" [options]="false">
      <div class="total-counts">
        <div class="position-relative">
          <div class="ml-auto">
            <span class="campaigns-header_totalNum ml-auto mr-2">Total Campaigns:
              {{tableSourceCampaigns.totalCount$ | async}}</span>
            <span class="mr-2" (click)="tableSourceCampaigns.prevPage()"><i class="fa fa-chevron-left"></i></span>
            <span class="mr-2" (click)="tableSourceCampaigns.nextPage()"><i class="fa fa-chevron-right"></i></span>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="campaign-filter">
          <div class="position-relative">
            <div class="btn-group dropdown" ngbDropdown>
              <button class="btn btn-outline-primary  btn-normal-padding" ngbDropdownToggle
                type="button">{{filterLabel}}</button>
              <div ngbDropdownMenu>
                <a *ngFor="let filter of campaignFilter" class="dropdown-item"
                  (click)="onClickFilterInCampaigns(filter)">{{filter.label}}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-group dropdown" ngbDropdown>
          <button class="btn btn-outline-primary  btn-normal-padding" ngbDropdownToggle
            type="button">{{statusLabel}}</button>
          <div ngbDropdownMenu>
            <a *ngFor="let status of statusFilter" class="dropdown-item"
              (click)="onClickStatusInCampaigns(status)">{{status.label}}</a>
          </div>
        </div>
        <div class="search-section ml-auto">
          <label class="mr-2 ml-10 d-flex align-items-center" *ngIf="showSearchCampaigns">
            <input type="search" class="table-search" [style.height.px]="25" placeholder="Search"
              (keypress)="tableSourceCampaigns.search($event.target.value)">
          </label>
        </div>
        <button type="button" class="btn btn-sm btn-icon btn-outline-primary btn-icon-normal-size"
          (click)="onClickSearchShowCampaigns()">
          <i class="fas fa-search"></i>
        </button>
      </div>
      <div class="collaborate-campaigns-table mt-2">
        <app-datatable [dataSource]="tableSourceCampaigns" [rowHeight]="35" [headerHeight]="40"
          [selectionType]="'single'"
          [columns]="columnsCampaigns" [columnMode]="'force'" (activate)="onActiveCampaigns($event)"></app-datatable>

        <div class="w-100">
          <app-datatable-pagination [tableSource]="tableSourceCampaigns"></app-datatable-pagination>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-xl-6 col-lg-12 card-tasks-section">
    <app-campaign-tasks #campaignTasks [campaign]="selectedCampaign" [teams]="teams"
      [campaigns]="campaigns" [users]="allUsers" (selectRow)="onSelectTask($event)"></app-campaign-tasks>
    <app-campaign-sub-tasks #campaignSubTasks [taskId]="selectedTaskId" [taskName]="selectedTaskName"
      [userId]="selectedUserId" [userName]="selectedUserName">
    </app-campaign-sub-tasks>
  </div>
</div>
<app-ui-modal #assignTeamModal dialogClass="modal-dialog-centered modal-assign-team">
  <div class="app-modal-header">
    <h5 class="modal-title">{{selectedCampaign && selectedCampaign.team_id > 0 ? 'Replace Team': 'Assign Team'}}</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
      (click)="assignTeamModal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="app-modal-body">
    <form [formGroup]="teamsForm" (ngSubmit)="onAssignTeam()">
      <div class="row" *ngIf="selectedCampaign && selectedCampaign.team_id > 0">
        <div class="col-md-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Current Team</span>
            </div>
            <input type="text" class="form-control" id="team_name" placeholder="Team name"
              formControlName="current_team" readonly>
          </div>
        </div>
      </div>
      <div class="row" [ngClass]="{'mt-4': selectedCampaign && selectedCampaign.team_id > 0}">
        <div class="col-md-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">New Team</span>
            </div>
            <ng-select formControlName="new_team" [ngClass]="'ng-select'" [options]="teamsInAssignModel"></ng-select>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="app-modal-footer">
    <button type="button" class="btn btn-primary">Assign</button> &nbsp;
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="assignTeamModal.hide()">Close</button>
  </div>
</app-ui-modal>

<ng-template #teamTemplate let-row="row" let-value="value" let-i="index">
  <span *ngIf="value > 0">{{ getTeamName(value) }}</span>
  <span class="btn btn-outline-primary btn-normal-padding" *ngIf="value === 0">Assign Team</span>
</ng-template>

<ng-template #progressTemplate let-row="row" let-value="value" let-i="index">
  <span class="percent">{{value}}%</span>
  <ngb-progressbar height="20px" [value]="value"></ngb-progressbar>
</ng-template>