<div class="row">
  <div class="col-xl-6 col-lg-12 card-campaigns">
    <app-datatable 
      [title]="'Campaigns'"
      [loading]="loadingCampaigns"
      [buttons]="tableButtons"
      [dataSource]="tableSource"
      [rowHeight]="35"
      [headerHeight]="40"
      [selectionType]="'single'"
      [selectable]="false"
      [filter]="campaignFilter"
      (activate)="onActiveCampaigns($event)"
    ></app-datatable>
  </div>
  <div class="col-xl-6 col-lg-12 card-tasks-section">
    <div class="card-tasks">
      <app-campaign-tasks #campaignTasks
        [campaign]="selectedCampaign"
        [teams]="teams"
        [campaigns]="campaigns"
        [users]="allUsers"
        (selectRow)="onSelectTask($event)">
      </app-campaign-tasks>
    </div>
    <div class="card-sub-tasks">
      <app-campaign-sub-tasks #campaignSubTasks
        [task]="selectedTask"
        [user]="selectedUser"
      ></app-campaign-sub-tasks>
    </div>
  </div>
</div>

<app-collaborate-assign-team-modal #assignTeamModal
  [campaign]="selectedCampaign"
  [teams]="teams"
></app-collaborate-assign-team-modal>

<ng-template #teamTemplate let-row="row" let-value let-i="index">
  <span class="team-name" *ngIf="value > 0">{{ getTeamName(value) }}</span>
  <span class="team-name" *ngIf="value === 0"><i class="fa fa-plus"></i> New</span>
</ng-template>

<ng-template #progressTemplate let-row="row" let-value let-i="index">
  <span class="percent">{{value}}%</span>
  <ngb-progressbar height="20px" [value]="value"></ngb-progressbar>
</ng-template>