
.campaign-filter {
    width: 210px;
    .btn-group {
        width: 100%;
        .dropdown-toggle {
            text-align: left;
        }
        .dropdown-toggle:after {
            float: right;
            margin-top: 8px;
        }
    }
}

.modal-assign-team {
    .input-group-text {
        width: 130px;
    }
    ng-select {
        width: calc(100% - 128px)!important;
        min-height: 45px;
        
    }
    
    ng-select > div {
        min-height: 45px !important;
    }
}

.tab-pane {
    height: calc(100vh - 280px);
    width: 100%;
    overflow: auto;
}

.card-tasks-section {
    padding-left: 0;     
}  
.card-campaigns {
    .card-body {
        
        height: calc(100vh - 180px);
        
    }
}
@media only screen and (max-width: 1200px) {
    .card-campaigns {
        padding: 0px;
        .card-body {
 
            height: auto;
 
        }
    }
    .card-tasks-section {
        padding: 0px;
    }
}

