.copyright {
    color: #7a8ca5;
    font-size: 13px;
    text-align: right;
}

.footer {
    position: fixed;
    height: 30px;
    bottom: 25px;
    left: 0;
    right: 0;
    padding-top: 6px;
    padding-right: 10px;
}