.manage-records {
  height: calc(100vh - 130px);
  .card-header:first-child {
    border-top-left-radius: 0px !important;
  }
}
@media only screen and (max-width: 575px) {
  .manage-records {
      padding: 0;
  }
}
