.modal-send-subscribers {
  .input-group-prepend {
    .input-group-text {
      width: 150px;
    }
  }

  .description {
    color: black;
    line-height: 25px;
  }

}

.mobile-show {
  display: none;
}
@media only screen and (max-width: 575px) {
  .mobile-hide {
    display: none;
  }
  .mobile-show {
    display: inherit;
  }
}
