<div class="row mt-3">
  <div class="col-12 card-filters">
    <app-datatable [title]="'Filters'"
      [loading]="loading"
      [buttons]="tableButtons"
      [dataSource]="tableSource"
      [rowHeight]="35"
      [selectable]="true"
      [selectionType]="'checkbox'"
      [headerHeight]="40"
      (activate)="onActive($event)"
    ></app-datatable>
  </div>
</div>

<app-data-filter-modal #filterModal
  [modalType]="modalType"
  [filter]="selectedFilter"
  (save)="onSave()"
  (delete)="onClickDeleteFromEdit()"
></app-data-filter-modal>

<app-confirm-modal #confirmModal
  modalTitle="Confirm"
  modalMessage="Do you want to delete selected filters?"
  [buttons]="confirmButtons"
></app-confirm-modal>
