<div style="height: calc( 100vh - 122px)" class="campaigns-page">
  <app-datatable
    [title]="'Manage Campaigns'"
    [dataSource]="tableSource"
    [buttons]="tableButtons"
    [selectable]="true"
    [selectionType]="'checkbox'"
    (activate)="onActive($event)">
  </app-datatable>
</div>

<ng-template #tableColumnSettings let-column="column">
  <a appDatatableHeaderMenu [tableSource]="tableSource" menuType="columnsMenu"><i class="fa fa-bars"
      aria-hidden="true"></i></a>
</ng-template>

<ng-template #tableColumnType let-value let-column="column">
  {{value === CampaignType.Email ? 'Email' : 'SMS' }}
</ng-template>