<div style="height: calc( 100vh - 120px)">
<app-datatable
  [title]="'Campaigns'"
  [dataSource]="tableSource"
  [buttons]="tableButtons" [selectable]="true"
  (activate)="onActive($event)">
</app-datatable>
</div>

<ng-template #tableColumnSettings let-column="column">
  <a appDatatableHeaderMenu [tableSource]="tableSource" menuType="columnsMenu"><i class="fa fa-bars"
      aria-hidden="true"></i></a>
</ng-template>

<ng-template #tableColumnType let-value let-column="column">
  {{value === CampaignType.Email ? 'Email' : 'SMS' }}
</ng-template>