:host {
  .mobile-show {
    display: none;

    @media only screen and (max-width: 767px) {
      display: inherit;
    }
  }

  .mobile-hide {
    display: inherit;

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  .modal-wrapper {
    padding: 0 20%;

    @media only screen and (max-width: 1024px) {
      padding: 0 5%;
    }

    @media only screen and (max-width: 425px) {
      padding: 0 10px;
    }
  }

  .card-body {
    max-height: calc(100vh - 450px);
    overflow-y: auto;
    padding: 0;

    .row {
      margin: 0;
    }

    .sub-header {
      padding: 10px 0;
    }
  }

  .card-body > form {
    margin-top: 20px;
  }

  .full-screen {
    padding: 0;
  }

  .full-screen > .card {
    width: 100vw;
    height: 100vh;
    margin-top: -28px;

    .card-body {
      max-height: calc( 100vh - 122px);
    }
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .maximize {
      margin-top: 3px;
    }
  }

  .card-body {
    max-height: calc(100vh - 250px);
    overflow-y: auto;
    padding: 0;

    .row {
      margin: 0;
    }

    .sub-header {
      padding: 10px 0;
    }
  }

  .main-header {
    background-color: whitesmoke;
  }

  .sub-header {
    display: flex;
    justify-content: center;
    border: 2px solid whitesmoke;
    align-items: center;
  }

  .add-btn {

    &:hover {
      background-color: #00acf0;
      color: white;
    }
  }
}
