<div class="card mt-4" style="height: calc( 100vh - 120px );">
  <div class="card-header">
    <span>{{createMode?'CREATE ':'EDIT '}}LEAD GRADING PROFILE</span>
  </div>

  <div class="card-body" style="overflow-y: auto;">
    <form [formGroup]="formGroup">
      <div class="col-lg-12 d-flex">
        <div class="col-md-6">
          <label class="mobile-show">Name<span class="text-danger">*</span></label>
          <div class="input-group">
            <div class="input-group-prepend mobile-hide"><span class="input-group-text">Name</span></div>
            <input type="text" formControlName="profileName" class="form-control ng-untouched ng-pristine ng-invalid">
          </div>
        </div>
        <div class="col-md-6">
          <label class="mobile-show">Description<span class="text-danger">*</span></label>
          <div class="input-group">
            <div class="input-group-prepend mobile-hide"><span class="input-group-text">Description</span></div>
            <input type="text" formControlName="profileDescription" class="form-control">
          </div>
        </div>
      </div>
      <div class="card" style="margin: 30px;">
        <div class="main-header card-header">
          <span>Profile Rules</span>
        </div>
        <div class="card-body">
          <div class="col-lg-12 d-flex">
            <div class="col-sm-4">
              <span>Rule Description</span>
            </div>
            <div class="col-sm-4 d-flex">
              <div class="col-sm-6">Greater Than/<br>Equal To</div>
              <div class="col-sm-6">Less Than</div>
            </div>
            <div class="col-sm-4 d-flex">
              <div class="col-sm-10">Grade</div>
              <span class="m-l-10 d-flex" style="align-items: center;">
                <i class="text-secondary fa fa-plus f-20" (click)="add()"></i>
              </span>
            </div>
          </div>
          <ng-template #ruleList></ng-template>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="col-lg-12 d-flex p-r-30" style="justify-content: flex-end;">
      <div>
        <span class="btn btn-secondary m-l-10" (click)="onCancelClick()">Cancel</span>
        <span *ngIf="!formGroup.valid" class="btn btn-success disabled m-l-10"><i
            class="fa fa-save m-r-10"></i>Save</span>
        <span *ngIf="formGroup.valid" class="btn btn-success m-l-10" (click)="onSaveClick()"><i
            class="fa fa-save m-r-10"></i>Save</span>
      </div>
    </div>
  </div>
</div>