<div class="modal-content">
  <div class="modal-header">
    <span>{{warningMode ? 'Warning' : 'Confirm'}}</span>
  </div>
  <div class="modal-body">
    <span>{{message}}</span>
  </div>
  <div class="modal-footer">
    <button *ngIf="warningMode" class="btn btn-primary" (click)="onCancelClicked()">
      OK
    </button>
    <button *ngIf="!warningMode" class="btn btn-secondary" (click)="onCancelClicked()">
      No
    </button>
    <button *ngIf="!warningMode" class="btn btn-primary" (click)="onYesClicked()">
      Yes
    </button>
  </div>
</div>