<app-ui-modal #addConnection dialogClass="modal-dialog-centered modal-add-connection">
	<div class="app-modal-header">
		<h5 class="modal-title">Add Connection</h5>
		<button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
			(click)="addConnection.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="app-modal-body">
		<div class="row">
			<div class="col-md-4 col-sm-12 social-connect-card" *ngFor="let social of socialSites$ | async">
				<app-card [hidHeader]="true" cardClass="text-center social-site">
					<img [src]="social.normal_img" width="64px" />
					<div class="card-text">{{social.label}}</div>
					<div *ngFor="let button of social.buttons" class="social-button">
						<button class="btn btn-primary" (click)="onConnect(social.id, button.type)">{{button.label}}</button>
					</div>
				</app-card>
			</div>
		</div>
	</div>
</app-ui-modal>