<div class="modal-content">
  <div class="modal-header">
    <h2 class="m-0">Send Campaign</h2>
  </div>
  <div class="modal-body">
    <aw-wizard #wizard class="arc-wizard" navBarLocation="left">
      <aw-wizard-step stepTitle="Draft">
        <div class="row">
          <section class="col-sm-12">
            <h3>Campaign Information</h3>
          </section>
          <section class="col-sm-12 segmentation">
            <h3>Segmentation</h3>

            <div class="d-flex">
              <label class="mr-3">Audience to Include</label>

              <div class="list-wrapper mr-2" [style.width.px]="300">
                <h5>Mailable List</h5>
                <app-check-list [(data)]="mailableList"></app-check-list>
              </div>
              <div class="list-wrapper mr" [style.width.px]="300">
                <h5>Filters</h5>
                <app-check-list [(data)]="includeFiltersList"></app-check-list>
              </div>
            </div>
          </section>
          <section class="col-sm-12 send-on">
            <h3>Scheduler</h3>

            <div class="ml-3">
              <div class="form-check d-inline mr-3">
                <input type="radio" id="gridRadios1"
                       class="form-check-input"
                       [value]="CampaignScheduler.SendNow" [formControl]="sendOnFormControl">
                <label for="gridRadios1" class="form-check-label">Send Now</label>
              </div>
              <div class="form-check d-inline">
                <input type="radio" id="gridRadios2"
                       class="form-check-input"
                       [value]="CampaignScheduler.SendOn" [formControl]="sendOnFormControl">
                <label for="gridRadios2" class="form-check-label">Send On</label>
              </div>
            </div>
          </section>
          <div class="col-sm-12 centered-content">
            <div class="btn-group mt-10">
              <button type="button" class="btn btn-primary btn-sm" awNextStep>Next</button>
            </div>
          </div>
        </div>
      </aw-wizard-step>

      <aw-wizard-step stepTitle="Send">
        <div class="row">
          <div class="col-sm-12 centered-content">
            <div class="btn-group mt-10">
              <button type="button" class="btn btn-secondary btn-sm" awPreviousStep>Back</button>
              <button type="button" class="btn btn-primary btn-sm" awNextStep>Continue</button>
            </div>
          </div>
        </div>
      </aw-wizard-step>
    </aw-wizard>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-secondary mr-4" type="button" (click)="onCancel()">Close</button>
  </div>
</div>
