<div class="row">
	<div class="col-lg-3 col-md-12 folders">
		<h1>Folders --- TODO</h1>
	</div>
	<div class="col-lg-9 col-md-12">
		<div class="label d-flex justify-content-between align-items-center">
			<h2>MANAGE CAMPAIGN</h2>
			<h3>Total Campaign: <span>{{'0'}}</span></h3>
		</div>
		<div class="campaign-table">
			<div class="campaign-table-setting d-flex justify-content-start align-items-center">
				<div class="campaign-selection d-flex align-items-end">
					<mat-form-field class="selection">
						<mat-label>Select Campaign Type</mat-label>
						<mat-select>
							<mat-option>None</mat-option>
							<mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="delete d-flex justify-content-between align-items-center ml-3 mt-2">
					Delete <mat-icon class="ml-2">delete</mat-icon>
				</div>
				<div class="send d-flex justify-content-between align-items-center ml-3 mt-2">
					Send Campaign <mat-icon class="ml-2">email</mat-icon>
				</div>
				<div class="d-flex justify-content-between align-items-center ml-auto">
					<mat-form-field class="d-flex align-items-center">
						<mat-label class="d-flex align-items-center">
							<mat-icon class="mr-1">search</mat-icon> Search Campaign
						</mat-label>

						<input matInput type="text" [(ngModel)]="value" (keyup)="applyFilter($event.target.value)">
						<button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
							(click)="onClose()">
							<mat-icon>close</mat-icon>
						</button>
					</mat-form-field>
				</div>
				<div class="refresh d-flex justify-content-between align-items-center ml-3 mt-2 mr-3">
					<mat-icon class="ml-2">refresh</mat-icon>
				</div>
			</div>
			<div class="table-section">
				<div class="column">
					<button mat-icon-button [matMenuTriggerFor]="menu">
						<mat-icon>list</mat-icon>
					</button>
					<mat-menu #menu="matMenu" xPosition="before" [overlapTrigger]="false">
						<div mat-menu-item class="d-flex align-items-center" (click)="$event.preventDefault(); $event.stopPropagation()">
							<span>Columns:</span>
						</div>
						<ng-container *ngFor="let column of columns">
							<button mat-menu-item class="d-flex align-items-center column-item" (click)="isVisible(column, $event)">
								<mat-icon>{{column.mark ? 'check' : 'close'}}</mat-icon>
								<span>{{column.label}}</span>
							</button>
						</ng-container>
					</mat-menu>
				</div>
				<table mat-table #table [dataSource]="dataSource" matSort class="table-list">

					<ng-container matColumnDef="check">
						<th mat-header-cell *matHeaderCellDef>
							<mat-checkbox (change)="$event ? masterToggle() : null"
								[checked]="selection.hasValue() && isAllSelected()"
								[indeterminate]="selection.hasValue() && !isAllSelected()"
								[aria-label]="checkboxLabel()">
							</mat-checkbox>
						</th>
						<td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
							<mat-checkbox (click)="checkboxSelection($event, element)"
								(change)="$event ? selection.toggle(element) : null"
								[checked]="selection.isSelected(element)" [aria-label]="checkboxLabel(element)">
							</mat-checkbox>
						</td>
					</ng-container>

					<ng-container matColumnDef="name">
						<th mat-header-cell *matHeaderCellDef mat-sort-header [class.hidden]="!columns[0].mark">
							Name
						</th>
						<td mat-cell *matCellDef="let element" [class.hidden]="!columns[0].mark">
							{{element.name}}
						</td>
					</ng-container>

					<ng-container matColumnDef="subject">
						<th mat-header-cell *matHeaderCellDef mat-sort-header [class.hidden]="!columns[1].mark"> Subject </th>
						<td mat-cell *matCellDef="let element" [class.hidden]="!columns[1].mark">
							{{element.subject}}
						</td>
					</ng-container>

					<ng-container matColumnDef="type">
						<th mat-header-cell *matHeaderCellDef mat-sort-header [class.hidden]="!columns[2].mark"> Type </th>
						<td mat-cell *matCellDef="let element" [class.hidden]="!columns[2].mark">
							{{element.type}}
						</td>
					</ng-container>

					<ng-container matColumnDef="modificationdate">
						<th mat-header-cell *matHeaderCellDef mat-sort-header [class.hidden]="!columns[3].mark"> Modification Date</th>
						<td mat-cell *matCellDef="let element" [class.hidden]="!columns[3].mark">
							{{element.modificationdate | dateFormat: 'DD MMM YY'}}
						</td>
					</ng-container>

					<ng-container matColumnDef="createddate" >
						<th mat-header-cell *matHeaderCellDef mat-sort-header [class.hidden]="!columns[4].mark"> Created Date</th>
						<td mat-cell *matCellDef="let element" [class.hidden]="!columns[4].mark">
							{{element.createddate | dateFormat: 'DD MMM YY'}}
						</td>
					</ng-container>

					<ng-container matColumnDef="lastsent">
						<th mat-header-cell *matHeaderCellDef mat-sort-header [class.hidden]="!columns[5].mark"> Last Sent</th>
						<td mat-cell *matCellDef="let element" [class.hidden]="!columns[5].mark">
							{{element.lastsent | dateFormat: 'DD MMM YY'}}
						</td>
					</ng-container>

					<ng-container matColumnDef="scheduled">
						<th mat-header-cell *matHeaderCellDef mat-sort-header [class.hidden]="!columns[6].mark"> Scheduled</th>
						<td mat-cell *matCellDef="let element" [class.hidden]="!columns[6].mark">
							{{element.scheduled | dateFormat: 'DD MMM YY'}}
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;">
					</tr>
				</table>

				<mat-paginator #paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons="true"></mat-paginator>
			</div>
		</div>
	</div>
</div>
