<div class="row">
	<div class="col-lg-12 social-policy">
		<app-card cardTitle="Social Policy" [options]="false">
			<div class="justify" [style.marginTop.px]="-20">
				<p>Campaign to Cash respects your privacy. And we take strict measures to prevent any data breach and leakages.
					This webpage documents how and why we collect your information, and how to protect it. “You” “your” refers to
					our customers, subscribers and website visitors, and “we” “Us” “Our” “website” “app” “software” refers to
					Campaign to Cash and all its properties, unless otherwise specified.</p>
				<p>Facebook Profiles can no longer be connected to Campaigntocash Publish Campaigntocash Publish no longer
					supports Facebook Profiles. We still support Facebook Pages and Groups.Facebook decided to make a number of
					changes to their platform to improve their ecosystem and prevent spam and misuse. One of these changes
					included removing the ability for third party apps to post to personal Facebook Profiles on your behalf. This
					change came into effect on July 26, 2018, and as such, it is no longer possible to connect Facebook Profiles
					to Campaigntocash Publish.

					This is part of a broader change that Facebook is making to improve their ecosystem and discourage misuse of
					personal accounts. We believe it will have a net positive effect, especially for small businesses and
					organizations using healthy social media strategies with tools like Campaigntocash Publish.

					We believe that Facebook is also actively encouraging people to use tools like Campaigntocash Publish for
					their business or organization, rather than personal use. We will continue to support Facebook Pages and
					Groups, and we're excited to keep iterating on our Facebook tools.
				</p>
				<p><u>Note</u>: By using this website – in any form – you adhere to this privacy policy. If not, you must leave
					the website.</p>
				<p><b>What information we collect?</b></p>
				<p>We may collect a range of your information, provided to us by you, voluntarily and involuntarily. It includes
					your “personal information” (like name, email address, phone number and more), “other information” (like IP
					address, demography details, app usage data and more)</p>
				<p><b>How we collect your information?</b></p>
				<p>We may collect information through different ways.</p>
				<ul>
					<li>Our website uses cookies and other similar technologies. Your IP address, the browser type, device name
						and other related information may get tracked and collected automatically into our system.</li>
					<li>We may track and collect your information when you download and use our app, like your app usage data,
						dwell time and more.</li>
					<li>The personal information like your name, email address and phone number are only collected if you choose
						to voluntarily provide them to us, when subscribing, requesting free trial, registering for a webinar,
						contacting us and other related activities.</li>
					<li>We may collect your personal information through offline sources, like when you attend one of our events,
						call our sales representatives, and more.</li>
					<li>We may also collect your information through various other sources, such as public databases, social media
						platforms, joint marketing partners and other third-parties.</li>
				</ul>
				<p><b>How we use your information?</b></p>
				<p>At large, we use all the information tracked and collected through different channels to improve our products
					and enhance users’ experience. Here are different ways we may use your information:</p>
				<ul>
					<li>To deliver you our products and services</li>
					<li>To send administrative information</li>
					<li>To communicate with you</li>
					<li>To troubleshoot your problems</li>
					<li>To send marketing communication</li>
					<li>To personalize your experience</li>
					<li>For our business purposes that include the likes of fraud monitoring and prevention, developing new
						products and more.</li>
				</ul>
				<p>As and when need, we may add new provision(s) under this head.</p>
				<p><b>How we protect your information? </b></p>
				<p>We take international-standard security measures to keep the information we collect fully safe and secured.
					Our software and overall infrastructure and establishment get updated regularly. We conduct regular checkups,
					done by qualified technical experts, to ensure 100 percent data security.</p>
				<p><b>How we share collected information to others?</b></p>
				<p>We may share collected information to affiliates, business partners, agents and service providers for the
					purpose described above in this privacy policy. Rest assured, these third-parties are highly reputed. Also,
					the information that may be shared won’t be sensitive. If needed, Cash To Campaign might share your
					information to legal authorities under applicable law.</p>
				<p><b>Changes to our privacy policy</b></p>
				<p>If and when needed, we may revise this privacy policy without any prior notification.</p>
				<p><b>Contact us</b></p>
				<p>Address: Unit 1234 Toronto, Canada</p>
				<p>Email: <a href="mailto:sales@campaigntocash.com"><u>sales@campaigntocash.com</u></a></p>
				<p>Phone: +1 (416) 994-5768</p>
			</div>
		</app-card>

	</div>
</div>