<div class="margin-minus-for-toolbar">
  <div class="breadcrum-buttons">
    <button class="btn " (click)="onNewPost()"><i class="feather icon-edit"></i> <span class="btn-label">New Post</span></button>
    <button class="btn" (click)="onAddConnection()"><i class="feather icon-plus"></i> <span class="btn-label">Add Connection</span></button>
  </div>
  <div class="row mt-3 flex-wrap social-card">
    <div class="col-md-4 col-sm-12 social-site-card" *ngFor="let social of socialAccounts$ | async">
      <app-card [cardTitle]="social.type === 'profile' ? social.userProfileName : social.pageName">
        <img class="profile-image" [src]="social.profileImg" [ngClass]="{'disabled': !social.connected}" />
        <img class="brand" [src]="social.img" [ngClass]="{'disabled': !social.connected}" />
        <div class="text-center" *ngIf="!social.connected">
          <button class="btn btn-primary"><i class="feather icon-link-2"></i> Connect</button>
        </div>
      </app-card>
    </div>
  </div>

  <app-ui-modal #newPostModal dialogClass="modal-dialog-centered" [dialogClass]="'modal-xl new-post'">
    <div class="app-modal-header">
      <h5 class="modal-title">New Post</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="newPostModal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="app-modal-body">
      <app-social-account-list (addConnection)="onAddConnection()" (selectedUsers)="onSelectedUsers($event)"></app-social-account-list>
      <app-tinymce [(ngModel)]='newPostContent' #tinymce='tinymce'></app-tinymce>
    </div>

    <div class="app-modal-footer">
      <button type="button" class="btn btn-primary" [ngClass]="{'disabled': !postEnabled}">Post</button> &nbsp;
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="newPostModal.hide()">Close</button>
    </div>
  </app-ui-modal>
  <app-social-add-connection #addConnection></app-social-add-connection>
</div>
