.modal-date-rage {
  .input-group-prepend {
    .input-group-text {
      width: 110px;
    }
  }

  .description {
    color: black;
    line-height: 25px;
  }
}

.mobile-show {
  display: none;
}
@media only screen and (max-width: 575px) {
  .mobile-hide {
    display: none;
  }
  .mobile-show {
    display: inherit;
  }
}
