.modal-send-result {
  .input-group-prepend {
    .input-group-text {
      width: 150px;
    }
  }

  .description {
    color: black;
    line-height: 25px;
  }

  ng-select {
    width: calc(100% - 148px);
    min-height: 45px;
    .single {
      .value {
        line-height: 43px;
      }
    }
  }

  ng-select > div {
    min-height: 45px !important;
  }
}

@media only screen and (max-width: 575px) {
  
  ng-select {
    width: 100%;
  }
}
