.search-group {
  position: relative;
  margin-bottom: 20px;
  .search-icon {
    left: 15px;
  }
}

.columns-container {
  height: 300px;
  overflow: auto;
  .columns {
    columns: 4;

    .column {
      height: 35px;
      font-size: 15px;
      align-items: center;
      display: inline-block;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      input[type="checkbox"] {
        margin-right: 10px;
      }
    }
  }
}
