<div class="container-fluid p-0">
	<div class="row">
		<div class="col-md-5 col-sm-12 card-teams">
			<app-datatable #cardTeams
				[title] = "'Collaboration Teams'"
				[dataSource]="tableSource"
				[buttons]="tableButtons"
				[rowHeight]="35"
				[headerHeight]="40"
				[selectionType]="'single'"
				[selectable]="false"
				(activate)="onClickTeam($event)"></app-datatable>
		</div>
		<div class="col-md-7 col-sm-12 campaigns-section">
			<div class="campaigns">
				<app-datatable
					[title]="'Assigned Campaigns'"
					[dataSource]="tableSourceCampaigns"
					[buttons]="tableButtonsCampaigns"
					[rowHeight]="35"
					[headerHeight]="40"
					[selectionType]="'single'"
					[selectable]="false"
					(activate)="onClickCampaign($event)"></app-datatable>
			</div>
				<div class="card-tasks">
					<app-campaign-tasks #campaignTasks
						[campaign]="selectedCampaign"
						[teams]="teams"
						[campaigns]="campaigns"
						[users]="allUsers"
						(selectRow)="onSelectTask($event)">
					</app-campaign-tasks>
				</div>
				<div class="card-sub-tasks">
					<app-campaign-sub-tasks #campaignSubTasks
						[task]="selectedTask"
						[user]="selectedUser"
					></app-campaign-sub-tasks>
				</div>
		</div>
	</div>
</div>

<app-collaborate-team-modal #teamModal
	[modalType]="modalType"
	[team]="selectedTeam"
	[users]="allUsers"
></app-collaborate-team-modal>

<app-collaborate-assign-campaign-modal #assignCampaignModal
	[teams]="teams"
	[campaigns]="campaigns"
	[team]="selectedTeam"
></app-collaborate-assign-campaign-modal>

<app-confirm-modal #confirmModal modalTitle="Confirm" modalMessage="Do you want to delete selected rows?"
	[buttons]="confirmButtons"></app-confirm-modal>
<ng-template #progressTemplate let-row="row" let-value let-i="index">
	<span class="percent">{{value}}%</span>
	<ngb-progressbar height="20px" [value]="value"></ngb-progressbar>
</ng-template>