.card-teams {
  height: calc(100vh - 130px);
}

.campaigns {
  height: calc(100vh - 575px);
}

@media only screen and (max-width: 575px) {
  .card-teams {
    height: 500px;
  }
}

.campaigns-section {
  padding-left: 0px;
}
@media only screen and (max-width: 575px) {
  .campaigns-section {
    padding-right: 0px;
  }
}

.table th,
.table td {
  vertical-align: middle;
}
