<div class="p-0">
  <form [formGroup]="formGroup">
    <div class="col-lg-12 p-0 d-flex header">
      <div class="col-sm-3 p-0 header-field">
        <input type="text" class="form-control" formControlName="description">
      </div>
      <div class="col-sm-3 p-0 header-field">
        <select class="form-control" formControlName="condition">
          <option value="a">contains</option>
          <option value="b">equals</option>
        </select>
      </div>
      <div class="col-sm-4 p-0 header-field">
        <input type="text" class="form-control" formControlName="value">
      </div>
      <div class="col-sm-2 p-0 header-field d-flex">
        <input type="number" class="form-control" formControlName="points">
      </div>
      <span class="d-flex remove-me">
        <i class="fa fa-minus" (click)="remove_me()"></i>
      </span>
    </div>
  </form>
</div>
