<app-ui-modal #userModal dialogClass="modal-dialog-centered modal-lg">
  <div class="app-modal-header">
    <h5 class="modal-title">{{modalType === ModalType.New ? 'Create': 'Edit'}} User</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="userModal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="userForm">
      <div class="row modal-body-margin">
        <div class="col-md-3 mt-3 avatar-container">
          <div class="avatar-image">
            <img [src]="'/assets/images/campaign/user-avatar.png'" width="100%" />
            <button class="btn-replace bg-secondary" *ngIf="profileImg"><i class="fa fa-edit"></i></button>
            <button class="btn-remove bg-danger" *ngIf="profileImg"><i class="fa fa-trash"></i></button>
            <button class="btn-upload bg-success" *ngIf="!profileImg"><i class="fa fa-upload"></i></button>
          </div>
          
            
          
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6 mt-3 padding-left-5">
              <label class="mobile-show">Email Address</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>
                <input type="text" placeholder="Email address" class="form-control" formControlName="emailAddress">
              </div>
            </div>
            <div class="col-md-6 mt-3 padding-left-5">
              <label class="mobile-show">User name</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input type="text" placeholder="User name" class="form-control" formControlName="surname">
              </div>
            </div>
            <div class="col-md-6 mt-3 padding-left-5">
              <label class="mobile-show">First name</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-code"></i></span>
                </div>
                <input type="text" placeholder="First name" class="form-control" formControlName="name">
              </div>
            </div>
            <div class="col-md-6 mt-3 padding-left-5">
              <label class="mobile-show">Last name</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-code"></i></span>
                </div>
                <input type="text" placeholder="Last name" class="form-control" formControlName="surname">
              </div>
            </div>
            <div class="col-md-6 mt-3 padding-left-5">
              <label class="mobile-show">Office Number</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-phone"></i></span>
                </div>
                <input type="text" placeholder="Office number" class="form-control" formControlName="officeNumber">
              </div>
            </div>
            <div class="col-md-6 mt-3 padding-left-5">
              <label class="mobile-show">Mobile Number</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-mobile"></i></span>
                </div>
                <input type="text" placeholder="Mobile Number" class="form-control" formControlName="phoneNumber">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <div class="my-check datatable-checkbox">
            <input type="checkbox" id="check1">
            <label class="line-height-25" for="check1"> Set random password. </label>
          </div>
        </div>
        <div class="col-md-6 mobile-mt">
          <div class="my-check datatable-checkbox">
            <input type="checkbox" id="check2">
            <label class="line-height-25" for="check2"> Change password on next login. </label>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <div class="my-check datatable-checkbox">
            <input type="checkbox" id="check3">
            <label class="line-height-25" for="check3"> Send activation email. </label>
          </div>
        </div>
        <div class="col-md-6 mobile-mt">
          <div class="my-check datatable-checkbox">
            <input type="checkbox" id="check4">
            <label class="line-height-25" for="check4"> Active </label>
          </div>
        </div>
      </div>
    </form>
    <hr class="w-100" />
    <div class="row user-roles">
      <div class="col-md-6">
        <div class="my-check datatable-checkbox">
          <input type="checkbox" id="check1">
          <label class="line-height-25" for="check1"> Admin </label>
        </div>
      </div>
      <div class="col-md-6 mobile-mt">
        <div class="my-check datatable-checkbox">
          <input type="checkbox" id="check2">
          <label class="line-height-25" for="check2"> Author </label>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <div class="my-check datatable-checkbox">
          <input type="checkbox" id="check3">
          <label class="line-height-25" for="check3"> C2C Admin </label>
        </div>
      </div>
      <div class="col-md-6 mobile-mt">
        <div class="my-check datatable-checkbox">
          <input type="checkbox" id="check4">
          <label class="line-height-25" for="check4"> Manager </label>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <div class="my-check datatable-checkbox">
          <input type="checkbox" id="check5">
          <label class="line-height-25" for="check5"> Owner </label>
        </div>
      </div>
      <div class="col-md-6 mobile-mt">
        <div class="my-check datatable-checkbox">
          <input type="checkbox" id="check6">
          <label class="line-height-25" for="check6"> User </label>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <div class="my-check datatable-checkbox">
          <input type="checkbox" id="check7">
          <label class="line-height-25" for="check7"> Viewer </label>
        </div>
      </div>
    </div>

  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-danger" [disabled]="loading" *ngIf="modalType === ModalType.Edit">
      <i class="fa fa-trash"></i>Delete
    </button>
    <button type="button" class="btn btn-primary" [disabled]="loading || userForm.invalid">
      <i class="fa"
        [ngClass]="{'fa-save': modalType === ModalType.Edit, 'fa-plus': modalType === ModalType.New}"></i>{{modalType === ModalType.Edit ? 'Save': 'Add'}}
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="userModal.hide()">
      <i class="fa fa-times-circle"></i>Close
    </button>
  </div>
</app-ui-modal>