<app-ui-modal #landingPageModal [dialogClass]="dialogClass">
  <div class="app-modal-header">
    <h5 class="modal-title">{{modalType === ModalType.New ? 'Create' : 'Edit'}} Landing Page</h5>
    <button type="button" class="maximize" (click)="revertFullScreen()"><i class="fa"
        [ngClass]="{'fa-arrows-alt': !fullScreen, 'fa-compress': fullScreen}"></i></button>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
      (click)="landingPageModal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body position-relative">
    <form [formGroup]="form">
      <div class="template-input-section">
        <div class="row">
          <div class="col-md-6 mt-3">
            <label class="mobile-show">Page Name</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Page Name</span>
              </div>
              <input type="text" class="form-control" formControlName="name">
            </div>
          </div>
          <div class="col-md-6 mt-3">
            <label class="mobile-show">External Page Name</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">External Page Name</span>
              </div>
              <input type="text" class="form-control" formControlName="extName">
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <label class="mobile-show">Description</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Description</span>
              </div>
              <input type="text" class="form-control" formControlName="description">
            </div>
          </div>
          <div class="col-md-6 mt-3">
            <label class="mobile-show">Category</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Category</span>
              </div>
              <ng-select [ngClass]="'ng-select'" formControlName="category" [options]="categories">
              </ng-select>
            </div>
          </div>
          <div class="col-md-6 mt-3">
            <label class="mobile-show">Page Status</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Page Status</span>
              </div>
              <ng-select [ngClass]="'ng-select'" formControlName="status" [options]="statuses">
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-3">
            <b>External URL:</b> <a [href]="externalURL" target="_blank">{{externalURL}}</a>
          </div>
        </div>
      </div>

      <div class="row mt-5 content-editor">
        <div class="col-12 preview-toolbar mb-1 d-flex align-items-center">
          <app-personalization-selector class="d-block mr-2" [editor]="emailCampaignEditor">
          </app-personalization-selector>
          <button class="btn btn-success" appEmailCampaignDynamics [editor]="emailCampaignEditor">Dynamics</button>
          <button class="btn btn-success ml-auto mr-2" appEmailCampaignTemplates>Templates</button>
          <button class="btn btn-success" appEmailCampaignPreview [editor]="emailCampaignEditor">Preview</button>
        </div>

        <div class="col-12">
          <app-email-campaign-editor #emailCampaignEditor formControlName="content"></app-email-campaign-editor>
        </div>

      </div>
    </form>
    <div class="spinner-border text-primary center-position" *ngIf="loading" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="app-modal-footer">
    <button type="button" class="btn btn-danger" (click)="onDelete()" [disabled]="loading" *ngIf="modalType === ModalType.Edit">
      <i class="fa fa-trash"></i>Delete
    </button>
    <button type="button" class="btn btn-primary" [disabled]="loading || form.invalid" (click)="onSave()">
      <i class="fa"
        [ngClass]="{'fa-save': modalType === ModalType.Edit, 'fa-plus': modalType === ModalType.New}"></i>{{modalType === ModalType.New ? 'Create' : 'Save'}}
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="landingPageModal.hide()">
      <i class="fa fa-times-circle"></i>Close
    </button>
  </div>
</app-ui-modal>