<div class="row m-t-10">
  <div class="col-md-3">
    <input type="text" class="form-control">
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control">
  </div>
  <div class="col-md-2">
    <input type="text" class="form-control">
  </div>
  <div class="col-md-2">
    <input type="text" class="form-control">
  </div>
  <div class="col-md-2 d-flex">
    <span class="m-l-10 d-flex" style="align-items: center;">
      <i class="text-secondary fa fa-trash f-24" (click)="remove_me()"></i>
    </span>
  </div>
</div>