<div class="format-option">
  <h5>Default File Format Options<button class="btn btn-primary btn-sm btn-edit">Edit</button></h5>
  <hr>
  <div class="ml-level-1">
    <span>Character Set</span>
    <span class="value">ASCII</span>
  </div>
  <div class="ml-level-1">
    <span>Seperator</span>
  </div>
  <div class="ml-level-2">
    <span>Value</span>
    <span class="value">,</span>
  </div>
  <div class="ml-level-2">
    <span>Missing</span>
    <span class="value"></span>
  </div>
  <div class="ml-level-2">
    <span>Decimal</span>
    <span class="value">.</span>
  </div>
  <div class="ml-level-1">
    <span>Line Encoding</span>
    <span class="value">CR+LF (Windows/Dos)</span>
  </div>
  <div class="ml-level-1">
    <span>Quote pattern</span>
    <span class="value">Left Quote</span>
  </div>
  <div class="ml-level-1">
    <span>&nbsp;</span>
    <span class="value">Right Quote</span>
  </div>
  <div class="ml-level-1">
    <span>Quote Mode</span>
    <span class="value">Always</span>
  </div>
</div>