:host {
  .editor-header {
    background-color: rgba(black, .05);
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    font-size: 20px;
  }
  .editor-body {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  $iphone-width: 375px;
  $iphone-height: 672px;

  .iphone-iframe {
    z-index: 2;
    position: relative;
    overflow: visible;
    width: $iphone-width;
    height: $iphone-height;

    .iphone-editor-area {
      width: 100%;
      height: 100%;
      padding: 17% 8% 19% 9.5%;
    }

    &:after {
      z-index: -1;
      position: absolute;
      left: 0;
      top: 0;
      background: url("../../../../../assets/images/campaign/iphone-iframe.png") no-repeat;
      background-size: $iphone-width $iphone-height;
      padding-right: $iphone-width;
      padding-bottom: $iphone-height;
      content: "";
    }
  }

  .iphone-user-avatar {
    width: 40px;
    height: 40px;
    background: url("../../../../../assets/images/campaign/user-avatar.png") no-repeat;
    background-size: 40px 40px;
    content: "";
  }

  .mobile-campaign-text {
    font-size: 14px;
    font-weight: bold;
    color: black;
  }

  .edit-btn {

    &:hover {
      color: black;
    }

    &:active {
      color: white;
    }
  }
}
