<div class="editor-header pt-2 pb-2 d-flex">
  <span class="ml-2 mr-3 edit-btn" (click)="onContentEdit()">Edit</span>
  <!-- <span class=""><i class="fa fa-link" aria-hidden="true"></i></span> -->
</div>

<div class="editor-body d-flex flex-wrap">
  <div class="editor--main mt-4 mr-3" *ngIf="editMode">
    <textarea aria-label="Campaign Editor" style="max-width: 300px; width: 100%;" rows="6" [(ngModel)]="campaignText"></textarea>
  </div>

  <div class="display-within-iphone" #mobileCampaign>
    <div class="iphone-iframe">
      <div class="iphone-editor-area d-flex flex-column">
        <div class="iphone-user-avatar"></div>
        <p class="mobile-campaign-text">{{campaignText}}</p>
      </div>
    </div>
  </div>
</div>
