<div class="row">
  <div class="col-12 card-social-engagers">
    <app-datatable
      [title]="'Social Engagers'"
      [buttons]="tableButtons"
      [dataSource]="tableSource"
      [rowHeight]="35"
      [headerHeight]="40"
      [columnMode]="'force'"
      (activate)="onActive($event)"></app-datatable>
  </div>

</div>
<ng-template #tableColumnSettings let-column="column">
  <i class="fa fa-bars" aria-hidden="true"></i>
</ng-template>

<app-ui-modal #newEngagerModal dialogClass="modal-dialog-centered modal-lg">
  <div class="app-modal-header">
    <h5 class="modal-title">Create a New Social Engager</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
      (click)="newEngagerModal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="app-modal-body">
    <form [formGroup]="engagerForm" (ngSubmit)="onCreateEngager()">
      <div class="row">
        <div class="col-md-6">
          <label for="first_name">First name</label>
          <input type="text" class="form-control" id="first_name" placeholder="First name" formControlName="firstName"
            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">

        </div>
        <div class="col-md-6">
          <label for="last_name">Last name</label>

          <input type="text" class="form-control" id="last_name" placeholder="Last name" formControlName="lastName"
            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">

        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <label for="compnay">Company</label>

          <input type="text" class="form-control" id="compnay" placeholder="Company" formControlName="company"
            [ngClass]="{ 'is-invalid': submitted && f.company.errors }">

        </div>
        <div class="col-md-6">
          <label for="email_address">Email address</label>

          <input type="email" class="form-control" id="email_address" placeholder="Email Address"
            formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">

        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <label for="phone_number">Personal Phone number</label>

          <input [textMask]="{mask: maskMobileNo}" type="text" class="form-control" id="phone_number"
            placeholder="9999-999-999" formControlName="mobileNumber"
            [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }">

        </div>
        <div class="col-md-6">
          <label for="zip">Company Zip</label>

          <input type="text" class="form-control" id="zip" placeholder="Zip" formControlName="zip"
            [ngClass]="{ 'is-invalid': submitted && f.zip.errors }">

        </div>
      </div>
    </form>
  </div>

  <div class="app-modal-footer">
    <button type="button" class="btn btn-primary" (click)="onCreateEngager()">Create</button> &nbsp;
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="newEngagerModal.hide()">Close</button>
  </div>
</app-ui-modal>
<app-confirm-modal #confirmModal modalTitle="Confirm" modalMessage="Do you want to delete selected rows?"
	[buttons]="confirmButtons"></app-confirm-modal>