
<div style="height: calc( 100vh - 122px)">
  <app-datatable [title]="'Lead Category'"
    [dataSource]="tableSource"
    [loading]="loading"
    [buttons]="tableButtons"
    [selectable]="true"
    [selectionType]="'checkbox'"
    (activate)="onActive($event)">
  </app-datatable>
</div>

<app-scoring-lead-category-modal #categoryModal
  [modalType]="modalType"
  [leadCategory]="selectedCategory"
  [listValuesDropDown]="listValuesDropDown"
  [leadDbColumns]="leadDbColumns"
  [emailAnalyticsColumns]="emailAnalyticsColumns"
  [mobileAnalyticsColumns]="mobileAnalyticsColumns"
  [socialMediaAnalyticsColumns]="socialMediaAnalyticsColumns"
  [websiteAnalyticsColumns]="websiteAnalyticsColumns"
  (update)="loadTableData()"
  (delete)="onDeleteClickedForEdit()"
></app-scoring-lead-category-modal>

<app-confirm-modal #confirmModal
  modalTitle="Confirm"
  modalMessage="Do you want to delete selected category?"
  [buttons]="confirmButtons"
></app-confirm-modal>
