<div style="height: calc( 100vh - 122px)">
  <app-datatable [title]="'Manage InApp Messages'"
    [loading]="loading"
    [dataSource]="tableSource"
    [buttons]="tableButtons"
    [selectable]="true"
    [selectionType]="'checkbox'"
    (activate)="onActive($event)">
  </app-datatable>
</div>

<app-mobile-in-app-message-modal #inAppMessageModal
  [message]="selectedMessage"
  [modalType]="modalType"
  [pushNotification]="0"
  (update)="loadTableData()"
></app-mobile-in-app-message-modal>

<app-confirm-modal #confirmModal
  modalTitle="Confirm"
  modalMessage="Do you want to delete selected list?"
  [buttons]="confirmButtons"
></app-confirm-modal>
