<div class="modal-content">
  <div class="modal-header">
    <h2 class="m-0">Send Campaign</h2>
  </div>
  <div class="modal-body">
    <div style="height: calc( 100vh - 200px)">
      <app-datatable
        [title]="'Leads List'"
        [dataSource]="tableSource"
        [selectable]="true">
      </app-datatable>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-secondary mr-4" type="button" (click)="onCancel()">Close</button>
    <button class="btn btn-sm btn-secondary mr-4" type="button" (click)="onCancel()">Import</button>
  </div>
</div>