:host {

  .modal-wrapper {
    padding: 0 10%;
    height: calc(100vh - 50px);

    .card {
      height: 100%;
    }

    @media only screen and (max-width: 1024px) {
      padding: 0 5%;
    }

    @media only screen and (max-width: 425px) {
      padding: 0 10px;
    }
  }

  .card-body {
    max-height: calc(100vh - 180px);
    overflow-y: auto;
    padding: 0;

    .row {
      margin: 0;
    }

    .sub-header {
      padding: 10px 0;
    }
  }

  .card-body > form {
    margin-top: 10px;
  }

  .full-screen {
    padding: 0;
  }

  .full-screen > .card {
    width: 100vw;
    height: 100vh;
    margin-top: -28px;

    .card-body {
      max-height: calc( 100vh - 122px);
    }
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .input-item {
    margin-bottom: 10px;
  }

  .input-group-text {
    width: 140px;
  }

  .mobile-show {
    display: none;

    @media only screen and (max-width: 575px) {
      display: inherit;
    }
  }

  .mobile-hide {
    display: inherit;

    @media only screen and (max-width: 575px) {
      display: none;
    }
  }

  .main-table {
    margin: 0 15px;
  }

  .main-header {
    background-color: whitesmoke;
  }

  .sub-header {
    border: 2px solid whitesmoke;
  }

  .add-btn {

    &:hover {
      background-color: #00acf0;
      color: white;
    }
  }
}
