.lead-category-modal {
  .input-group {
    .input-group-prepend {
      .input-group-text {
        width: 130px;
      }
    }
  }
}

.modal-fullscreen {
  .main-table {
    height: calc(100vh - 290px);
  }
}

.main-table {
  .card-body {
    max-height: calc(100vh - 370px);
    overflow: auto;
  }
}
