<div [class]="modalClass">
  <div class="card">
    <div class="card-header">
      <span>{{ mode? 'Create ' : 'Edit ' }}Lead Category Profile</span>
      <button type="button"  class="maximize m-l-auto" (click)="revertFullScreen()"><i class="fa" [ngClass]="{'fa-arrows-alt': !fullScreen, 'fa-compress': fullScreen}"></i></button>
      <button type="button" class="m-l-auto close basic-close" data-dismiss="modal" aria-label="Close"
        (click)="onCancelClick()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="card-body">
      <form [formGroup]="formGroup">
        <div class="row">
          <div class="col-md-6 input-item">
            <label class="mobile-show">Name</label>
            <div class="input-group">
              <div class="input-group-prepend mobile-hide"><span class="input-group-text">Name</span></div>
              <input type="text" formControlName="name" class="form-control ng-untouched ng-pristine ng-invalid">
            </div>
          </div>
          <div class="col-md-6 input-item">
            <label class="mobile-show">Lead Category</label>
            <div class="input-group">
              <div class="input-group-prepend mobile-hide"><span class="input-group-text">Lead Category</span></div>
              <select formControlName="leadCategoryType" class="form-control ng-untouched ng-pristine ng-invalid">
                <option *ngFor="let item of leadCategoryTypeList" value="item.id">{{item.value}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 input-item">
            <label class="mobile-show">Field Name</label>
            <div class="input-group">
              <div class="input-group-prepend mobile-hide"><span class="input-group-text">Field Name</span></div>
              <select formControlName="fieldName" class="form-control ng-untouched ng-pristine ng-invalid">
                <option *ngFor="let item of fieldNameTypeList" value="item.id">{{item.value}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 input-item">
            <label class="mobile-show">Criteria</label>
            <div class="input-group">
              <div class="input-group-prepend mobile-hide"><span class="input-group-text">Criteria</span></div>
              <input type="text" formControlName="criteria" disabled
                class="form-control ng-untouched ng-pristine ng-invalid">
            </div>
          </div>
        </div>
        <div class="card main-table">
          <div class="card-header main-header">
            <span>Category Fields</span>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-md-3 text-center sub-header">
                <span>Category Name</span>
              </div>
              <div class="col-md-4 text-center sub-header">
                <span>Value</span>
              </div>
              <div class="col-md-2 text-center sub-header">
                <span>Score</span>
              </div>
              <div class="col-md-2 text-center sub-header">
                <span>Condition</span>
              </div>
              <div class="col-md-1 text-center sub-header add-btn" (click)="add()">
                <span class="p-10"><i class="fa fa-plus"></i></span>
              </div>
            </div>
            <ng-template #categoryList></ng-template>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer m-t-10">
      <div class="col-lg-12 d-flex p-r-0" style="justify-content: flex-end;">
        <div>
          <span class="btn btn-secondary m-l-10" (click)="onCancelClick()">Cancel</span>
          <span *ngIf="!formGroup.valid" class="btn btn-primary disabled m-l-10"><i
              class="fa fa-save m-r-10"></i>Save</span>
          <span *ngIf="formGroup.valid" class="btn btn-primary m-l-10" (click)="onSaveClick()"><i
              class="fa fa-save m-r-10"></i>Save</span>
        </div>
      </div>
    </div>
  </div>
</div>