:host {
  .campaign-header {
  }

  .card-body,
  .card-footer {
    padding: 20px 10%;
  }

  .email-campaign-preview {
    .campaign-preview-header {
      padding: 10px 8px;
      background-color: #c9dde1;
    }
  }
}

.text-danger {
  color: #ed6b75;
}
