:host {
  .campaign-modal {
    padding: 0 10%;

    @media only screen and (max-width: 1024px) {
      padding: 0 5%;
    }

    @media only screen and (max-width: 425px) {
      padding: 0 10px;
    }
  }

  .campaign-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .full-screen {
    padding: 0;
    
    .card {
      position: absolute;
      height: 100vh;
      top: -53px;
    }
  }

  .basic-close {
    margin-top: -2px;
  }

  .card-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
  }

  .email-campaign-preview {
    .campaign-preview-header {
      padding: 10px 8px;
      background-color: #c9dde1;
    }
  }

  .mobile-show {
    display: none;

    @media only screen and (max-width: 767px) {
      display: inherit;
    }
  }

  .mobile-hide {
    display: inherit;

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  .preview-toolbar {
    margin-bottom: 10px;

    .btn-primary {
      width: 160px;
      margin: 5px;

      @media screen and (max-width: 576px) {
        width: 120px;
      }
    }

    .templateBtn {
      margin-left: auto;

      @media screen and (max-width: 993px) {
        margin-left: 5px;
      }
    }

    @media only screen and (max-width: 993px) {
    }
  }

  .email-campaign-form_input-form {
    margin: 5px 0;
  }

  .personal-selector {
    display: flex;
    align-self: baseline;
    padding: 5px 0;
  }
}
