<div class="card mt-4">
  <div class="card-header campaign-header">
    <h4>Campaign email: {{formGroup.controls.name.value}}</h4>
  </div>

  <div class="card-body">
    <form [formGroup]="formGroup">
      <div class="row">
        <div class="col-12 col-lg-6">
          <span>Campaign Name {{campaignMode === 'new' ? '*' : ''}}</span>
          <div class="input-group">
            <input class="form-control" formControlName="name">
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <span>Campaign Subject {{campaignMode === 'new' ? '*' : ''}}</span>
          <div class="input-group">
            <input class="form-control" formControlName="subject">
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <span>From Display</span>
          <div class="input-group">
            <select class="form-control" formControlName="fromDisplay">
              <option>Select Display</option>
              <option [value]="CampaignFromDisplayType.CampaignToCash">CampaignToCash</option>
              <option [value]="CampaignFromDisplayType.Palskem">Palskem</option>
            </select>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <span>From Address</span>
          <div class="input-group">
            <input class="form-control disabled" formControlName="fromAddress">
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <span>Reply Address</span>
          <div class="input-group">
            <input class="form-control disabled" formControlName="replyAddress">
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <span>Folder Name</span>
          <select class="form-control" formControlName="folderName">
          </select>
        </div>
        <div class="col-lg-12">
          <div class="modal-header">
            <div class="container">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
