.chat-widget-button {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 30px;
    right: 30px;
    background: #fff;
    -webkit-box-shadow: 5px 5px 10px 5px rgba(168,168,168,0.64);
    -moz-box-shadow: 5px 5px 10px 5px rgba(168,168,168,0.64);
    box-shadow: 5px 5px 10px 5px rgba(168,168,168,0.64);
}