<div class="card m-t-15">
  <div class="card-header main-header">
    <form [formGroup]="formGroup" class="d-flex">
      <div class="col-md-4">
        <label class="mobile-show">Profile Rules-Lead</label>
        <div class="input-group">
          <div class="input-group-prepend mobile-hide"><span class="input-group-text">Profile Rules-Lead</span></div>
          <input type="text" formControlName="attitude" class="form-control ng-untouched ng-pristine ng-invalid">
        </div>
      </div>
      <div class="col-md-4">
        <label class="mobile-show">Value Type</label>
        <div class="input-group">
          <div class="input-group-prepend mobile-hide"><span class="input-group-text">Value Type</span></div>
          <input type="text" formControlName="valueType" class="form-control ng-untouched ng-pristine ng-invalid">
        </div>
      </div>
      <div class="col-md-4">
        <label class="mobile-show">Weightage</label>
        <div class="input-group">
          <div class="input-group-prepend mobile-hide"><span class="input-group-text">Weightage</span></div>
          <input type="text" formControlName="weightage" class="form-control ng-untouched ng-pristine ng-invalid">
        </div>
      </div>
      <span class="m-l-10 d-flex remove-me" (click)="remove_me()">
        <i class="fa fa-times"></i>
      </span>
    </form>
  </div>
  <div class="card-body p-0">
    <div class="col-lg-12 d-flex p-0">
      <div class="col-sm-3 d-flex header-field">
        <span>Rule Description</span>
      </div>
      <div class="col-sm-3 d-flex header-field">
        <span>Condition</span>
      </div>
      <div class="col-sm-4 d-flex header-field">
        <span>Value</span>
      </div>
      <div class="col-sm-2 d-flex header-field">
        <span>Point</span>
      </div>
    </div>
    <span class="m-l-10 d-flex add-card">
      <i class="fa fa-plus" (click)="add()"></i>
    </span>
    <ng-template #ruleList></ng-template>
  </div>
</div>