.app-modal-pane {
  margin: 1.75rem auto auto;

  .app-modal-container {
    display: block;
    position: relative;
    width: 100%;
    min-width: 350px;
    max-height: calc(100vh - 3.5rem);

    .modal-content {
      max-height: 100%;

      .modal-body {
        overflow-y: auto;
      }
    }
  }
}
.app-modal-pane-backdrop {
  background-color: rgba(black, .6);
}
