<div class="row">
	<div class="col-12 mornitor-section">
		<app-card cardTitle="Monitor Tags or Keywords" [options]="false">
			<div class="card-buttons">
				<button class="btn" (click)="addTabDialog()">
					<i class="feather icon-plus"></i> Add Tab
				</button>
			</div>
			<div *ngIf="tabs.length === 0 && !loadingTabs" role="alert" class="alert alert-warning">
				<i class="feather icon-alert-triangle"></i> Please add <a href='#'>Tab</a> first.
			</div>
			<div class="spinner-border text-primary center-position" *ngIf="loadingTabs" role="status">
				<span class="sr-only">Loading...</span>
			</div>
			<div *ngIf="tabs.length > 0" class="tab-section">
				<ngb-tabset (tabChange)="onClickTab($event)">
					<ngb-tab *ngFor="let tab of tabs" [id]="tab.id" [title]="tab.tabName">
						<ng-template ngbTabContent>
							<div *ngIf="tab.streams.length === 0 && !loading" role="alert" class="alert alert-warning mt-3">
								Please add stream to monitor social tag or keywords.
							</div>
							<div class="spinner-border text-primary center-position" *ngIf="loading" role="status">
								<span class="sr-only">Loading...</span>
							</div>
							<div *ngIf="tab.streams.length > 0" class="mt-3 row">
								<div class="col-md-4 stream" *ngFor="let stream of tab.streams">
									<app-card  [cardTitle]="stream.streamName">
										<ul>
											<li> Peoples </li>
											<li *ngFor="let article of stream.extensionData.twitterSearch[0].foundUsers">
												<div class="d-flex justify-content-between position-relative">
													<img [src]="article.profileImageUrlHttps" class="profile-image" />
													<img [src]="SocialSiteImages[0]" class="social-site" />
													<div class="article">
														<a [href]="article.url" target="_blank" class="article-name">{{article.name}}</a>
														<span class="screen-name">{{article.screenNameResponse}}</span>
														<p class="article-description">{{article.description}}</p>
													</div>
												</div>
											</li>
											<li> HashTag Search for : <b>{{stream.extensionData.twitterSearch[0].statusTweets[0].query}}</b></li>
											<li *ngFor="let article of stream.extensionData.twitterSearch[0].statusTweets[0].statuses">
												<div class="d-flex justify-content-between position-relative">
													<img [src]="article.user.profileImageUrlHttps" class="profile-image" />
													<img [src]="SocialSiteImages[0]" class="social-site" />
													<div class="article">
														<a [href]="article.url" target="_blank" class="article-name">{{article.user.name}}</a>
														<span class="screen-name">{{article.user.screenNameResponse}}</span>
														<p class="article-description">{{article.user.description}}</p>
													</div>
												</div>
											</li>
										</ul>
									</app-card>
								</div>
								
							</div>

							<button type="button" class="btn btn-outline-success btn-close-tab" (click)="onAddStream(tab.id)"><i
									class="feather icon-plus"></i> {{tab.streams.length > 0 ? 'Update' : 'Add'}} Stream </button>
							<button type="button" class="btn btn-outline-primary float-right btn-close-tab"
								(click)="onCloseTabConfirm(tab.id)">Close</button>
						</ng-template>
					</ngb-tab>
				</ngb-tabset>
			</div>
		</app-card>
	</div>
</div>

<app-social-monitor-tab-modal #tabModal
	(addTab)="onAddTab($event)"
></app-social-monitor-tab-modal>

<app-social-monitor-stream-modal #newStreamModal
	[modalType]="modalType"
	(addConnection)="onAddConnection()"
	(selectUser)="onSelectedUsers($event)"
></app-social-monitor-stream-modal>

<app-confirm-modal #confirmModal
	modalTitle="Confirm"
	modalMessage="Do you want to close tab?"
	[buttons]="confirmButtons"
></app-confirm-modal>

<app-social-add-connection #addConnection></app-social-add-connection>