<div class="card mt-3">
  <div class="card-header">
    <span>Create Google Ads Campaign</span>
  </div>
  <div class="card-body">
    <form [formGroup]="formGroup">
      <section>
        <h3>Campaign Details</h3>

        <div class="m-t-10" formGroupName="details">
          <div class="row">
            <div class="col-md-6 col-sm-12" style="margin: 5px 0;">
              <label class="mobile-show">Campaign Name<span class="text-danger">*</span></label>
              <div class="input-group m-t-10">
                <div class="input-group-prepend mobile-hide"><span class="input-group-text">Campaign Name</span></div>
                <input type="text" formControlName="name" class="form-control">
              </div>
            </div>
            <div class="col-md-6 col-sm-12" style="margin: 5px 0;">
              <label class="mobile-show">Customer Account</label>
              <div class="input-group m-t-10">
                <div class="input-group-prepend mobile-hide"><span class="input-group-text">Customer Account</span></div>
                <select class="form-control" formControlName="customerAccount">
                  <option>GadManager</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 col-sm-12" style="margin: 5px 0;">
              <label class="mobile-show">Billing Account</label>
              <div class="input-group m-t-10">
                <div class="input-group-prepend mobile-hide"><span class="input-group-text">Billing Account</span></div>
                <select class="form-control" formControlName="billingAccount">
                  <option></option>
                </select>
              </div>
            </div>
            <div class="col-12 col-lg-12">
              <div class="d-flex justify-content-center align-items-center m-t-10 p-t-10 p-b-10 bg-secondary text-white">
                <span>Choose Campaign Objective</span>
              </div>
            </div>
            <div class="col-12 col-lg-12 m-t-20">
              <div class="col-lg-3 col-md-4 col-sm-6 p-0 border border-secondary">
                <div class="bg-secondary text-white d-flex justify-content-center p-10">
                  <span>Search Ads</span>
                </div>
                <div class="p-t-30 p-b-30 p-l-15">
                  <label class="text-secondary ">
                    <input class="" type="radio" formControlName="openGoalFlag">
                    Open Goal
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <hr>

      <section>
        <div class="col-12 col-lg-12 p-0">
          <div class="text-secondary m-t-30 ">
            <span>Location</span>
          </div>
        </div>
        <div class="" formGroupName="locationAndDelivery">
          <div class="row">
            <div class="col-12 col-lg-6 form-group">
              <div class="text-secondary m-t-30">
                <label class="">
                  Include
                </label>
                <div class="input-group m-t-10">
                  <div class="input-group-prepend">
                    <span class="input-group-text text-secondary"><i class="fa fa-map-marker"></i></span>
                  </div>
                  <input class="form-control" fomrControlName="include" placeholder="Search" autocomplete="off" name="include">
                  <div class="input-group-append">
                    <span class="input-group-text text-secondary">
                      <i class="fa fa-search"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 form-group">
              <div class="text-secondary m-t-30">
                <label class="">
                  Exclude
                </label>
                <div class="input-group m-t-10">
                  <div class="input-group-prepend">
                    <span class="input-group-text text-secondary"><i class="fa fa-map-marker"></i></span>
                  </div>
                  <input class="form-control" fomrControlName="exclude" placeholder="Search" autocomplete="off" name="exclude">
                  <div class="input-group-append">
                    <span class="input-group-text text-secondary">
                      <i class="fa fa-search"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 form-group m-l-auto">
              <div class="text-secondary m-t-20">
                <label class="text-secondary ">
                  Language
                </label>
                <div class="input-group m-t-10">
                  <select class="form-control" fomrControlName="language" placeholder="Search" autocomplete="off" name="language">
                    <option></option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-12 d-flex flex-wrap">
              <div class="col-lg-12 text-secondary  m-t-20 p-0">
                <span>Campaign Budget</span>
              </div>
              <div class="col-lg-6 m-t-20 m-r-auto p-0">
                <div class="col-md-12" style="margin: 5px 0;">
                  <label class="mobile-show">Daily Budget<span class="text-danger">*</span></label>
                  <div class="input-group m-t-10">
                    <div class="input-group-prepend mobile-hide">
                      <span class="input-group-text">Daily Budget</span>
                    </div>
                    <input type="text" class="form-control" fomrControlName="dailyBudget" autocomplete="off" name="exclude">
                    <div class="input-group-append">
                      <span class="input-group-text text-secondary"><i class="fa fa-usd">$</i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 text-secondary  m-t-20 p-0">
                <span>Delivery Method</span>
              </div>
              <div class="col-lg-12 p-0">
                <label class="col-lg-3 border border-1 border-secondary p-10 m-l-16 m-t-20 m-r-10">
                  <input id="radio1" type="radio" name="Delivery" value="1" ng-model="vm.Standard"
                    class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched">Standard
                </label>
                <label class="col-lg-3 border border-1 border-secondary p-10 m-l-16 m-t-20">
                  <input id="radio2" type="radio" name="Delivery" value="1" ng-model="vm.Accelerated"
                    class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched"> Accelerated
                </label>
              </div>
              <div class="col-lg-12 text-secondary  m-t-20 p-0">
                <span>Duration</span>
              </div>
              <div class="">
                <div class="col-md-12" style="margin: 5px 0;">
                  <label class="mobile-show">Start Date <span class="text-danger"> * </span></label>
                  <div class="input-group m-t-10">
                    <div class="input-group-prepend mobile-hide">
                      <span class="input-group-text" style="width: 110px;">Start Date</span>
                    </div>
                    <input class="form-control" autocomplete="off" placeholder="YYYY-MM-DD"
                    name="dp_to" ngbDatepicker formControlName="startDate" #datePickerStart="ngbDatepicker"
                    (dateSelect)="onStartSelect($event)">
                    <div class="input-group-append">
                      <span class="input-group-text" (click)="datePickerStart.toggle()">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" style="margin: 5px 0;">
                  <label class="mobile-show">End Date <span class="text-danger"> * </span></label>
                  <div class="input-group m-t-10">
                    <div class="input-group-prepend mobile-hide">
                      <span class="input-group-text" style="width: 110px;">End Date</span>
                    </div>
                    <input class="form-control" autocomplete="off" placeholder="YYYY-MM-DD"
                    name="dp_to" ngbDatepicker formControlName="endDate" #datePickerEnd="ngbDatepicker"
                    (dateSelect) = "onEndSelect($event)">
                  <div class="input-group-append">
                    <span class="input-group-text" (click)="datePickerEnd.toggle()">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 text-secondary  m-t-20 p-0">
                <span>Bid Strategy</span>
              </div>
              <div class="col-lg-12 p-0 d-flex">
                <label class="col-lg-3 border border-1 border-secondary p-10 m-l-16 m-t-20 m-r-10">
                  <input id="radio1" type="radio" name="BidStrategy" value="1" ng-model="vm.Standard"
                    class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched">Maximum Conversation
                </label>
                <label class="col-lg-3 border border-1 border-secondary p-10 m-l-16 m-t-20">
                  <input id="radio2" type="radio" name="BidStrategy" value="1" ng-model="vm.Accelerated"
                    class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched"> Maximum Clicks
                </label>
              </div>
            </div>
          </div>
        </div>
      </section>
      <hr>

      <section>
        <div class="col-lg-12 text-secondary  m-t-20 p-0">
          <span>Add Sitelink - minimum 2 required</span>
        </div>

        <div class="col-lg-12 d-flex m-t-15 p-0">
          <div class="col-lg-6">
            <div class="bg-secondary text-white d-flex justify-content-center p-10">
              <span>Search Ads</span>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="bg-secondary text-white d-flex justify-content-center p-10">
              <span>Select From Predefined</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 d-flex flex-column">
            <form [formGroup]="siteLinkCreateForm" (ngSubmit)="createNewSiteLink()">
              <div class="col-md-12" style="margin: 5px 0;">
                <label class="mobile-show">Sitelink Text<span class="text-danger">*</span></label>
                <div class="input-group m-t-10">
                  <div class="input-group-prepend mobile-hide">
                    <span class="input-group-text" style="width: 160px;">Sitelink Text</span>
                  </div>
                  <input class="form-control" formControlName="text" aria-label="Site Link">
                </div>
              </div>
              <div class="col-md-12" style="margin: 5px 0;">
                <label class="mobile-show">Description Line 1<span class="text-danger">*</span></label>
                <div class="input-group m-t-10">
                  <div class="input-group-prepend mobile-hide">
                    <span class="input-group-text" style="width: 160px;">Description Line 1</span>
                  </div>
                  <input class="form-control" formControlName="description1" aria-label="Description Line 1">
                </div>
              </div>
              <div class="col-md-12" style="margin: 5px 0;">
                <label class="mobile-show">Description Line 2</label>
                <div class="input-group m-t-10">
                  <div class="input-group-prepend mobile-hide">
                    <span class="input-group-text" style="width: 160px;">Description Line 2</span>
                  </div>
                  <input class="form-control" formControlName="description2" aria-label="Description Line 2">
                </div>
              </div>
              <div class="col-md-12" style="margin: 5px 0;">
                <label class="mobile-show">Final URL<span class="text-danger">*</span></label>
                <div class="input-group m-t-10">
                  <div class="input-group-prepend mobile-hide">
                    <span class="input-group-text" style="width: 160px;">Final URL</span>
                  </div>
                  <input type="url" class="form-control" formControlName="finalUrl">
                </div>
              </div>
              <div class="col-md-12 d-flex justify-content-end">
                <button class="btn btn-secondary" type="submit" [disabled]="siteLinkCreateForm.invalid">+ Add</button>
              </div>
            </form>
          </div>

          <div class="col-12 col-lg-6" [formGroup]="formGroup">
            <ng-container formArrayName="siteLinks">
              <div class="row">
                <div class="col-12 mb-2" *ngFor="let control of siteLinksFormArray.controls; index as i">
                  <div class="checkbox-wrapper" [formGroup]="siteLinksFormArray.controls[i]">
                    <input type="checkbox" id="{{'sitelink_check_' + i}}" formControlName="check" aria-label="Checkbox"
                      class="mr-2">
                    <label for="{{'sitelink_check_' + i}}">{{siteLinksFormArray.controls[i].value.text}}</label>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </section>
      <hr>

      <section>
        <h3 class="text-secondary ">Campaign Details</h3>
        <div class="d-flex flex-wrap" formGroupName="template">
          <div class="col-md-6" style="margin: 5px 0;">
            <label class="mobile-show required-mark-after">Campaign Name<span class="text-danger">*</span></label>
            <div class="input-group m-t-10">
              <div class="input-group-prepend mobile-hide">
                <span class="input-group-text" style="width: 160px;">Campaign Name</span>
              </div>
              <input class="form-control" formControlName="name" aria-label="Campaign Name">
            </div>
          </div>
          <div class="col-md-6" style="margin: 5px 0;">
            <label class="mobile-show required-mark-after">Billing Account<span class="text-danger">*</span></label>
            <div class="input-group m-t-10">
              <div class="input-group-prepend mobile-hide">
                <span class="input-group-text" style="width: 160px;">Billing Account</span>
              </div>
              <input class="form-control" formControlName="billingAccount" aria-label="Billing Account">
            </div>
          </div>
          <div class="col-md-6" style="margin: 5px 0;">
            <label class="mobile-show required-mark-after">Tag Name<span class="text-danger">*</span></label>
            <div class="input-group m-t-10">
              <div class="input-group-prepend mobile-hide">
                <span class="input-group-text" style="width: 160px;">Tag Name</span>
              </div>
              <input class="form-control" formControlName="tagName" aria-label="Campaign Name">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="d-flex justify-content-center align-items-center bg-secondary text-white m-t-10 p-t-10 p-b-10 ">
              <span class="">Choose Campaign Objective</span>
            </div>
          </div>
          <div class="col-lg-12" style="margin-top: 20px;">
            <label class="col-md-3">
              <div class="card border border-secondary">
                <div class="bg-secondary p-15 align-items-center">
                  <label class="radio-inline text-bold" style="word-wrap: break-word; width: 140px; color:white;">
                    <input id="radio" type="radio" name="TemplateId" value="1" ng-model="vm.searchNework"
                      class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" style=""> Search Network
                  </label>
                </div>
                <div style="padding:15px;">
                  <img src="./assets/images/campaign/Search1.png" style="height: 300px; width: 100%;">
                </div>
              </div>
            </label>
            <label class="col-md-3">
              <div class="card border border-secondary">
                <div class="bg-secondary p-15 align-items-center">
                  <label class="radio-inline text-bold" style="word-wrap: break-word; width: 140px; color:white;">
                    <input id="radio" type="radio" name="TemplateId" value="1" ng-model="vm.searchPartners"
                      class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" style=""> Search Partners
                  </label>
                </div>
                <div style="padding:15px;">
                  <img src="./assets/images/campaign/Search2.png" style="height: 300px; width: 100%;">
                </div>
              </div>
            </label>
            <label class="col-md-3">
              <div class="card border border-secondary">
                <div class="bg-secondary p-15 align-items-center">
                  <label class="radio-inline text-bold" style="word-wrap: break-word; width: 140px; color:white;">
                    <input id="radio" type="radio" name="TemplateId" value="1" ng-model="vm.displayNetwork"
                      class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" style=""> Display Network
                  </label>
                </div>
                <div style="padding:15px;">
                  <img src="./assets/images/campaign/Search3.png" style="height: 300px; width: 100%;">
                </div>
              </div>
            </label>
          </div>
        </div>
      </section>
      <hr>

      <section>
        <h3 class="text-secondary ">Group Details</h3>

        <div class="row" formGroupName="groupDetail">
          <div class="col-lg-6 col-md-12" style="margin: 5px 0;">
            <label class="mobile-show">Ad Group Name<span class="text-danger">*</span></label>
            <div class="input-group m-t-10">
              <div class="input-group-prepend mobile-hide">
                <span class="input-group-text" style="width: 150px;">Ad Group Name</span>
              </div>
              <input type="text" class="form-control" fomrControlName="addGroupName">
            </div>
          </div> 
          <div class="col-lg-12 p-0 m-b-20">
            <div class="col-lg-6 col-md-12" style="margin: 5px 0;">
              <label class="mobile-show">Keyworks<span class="text-danger">*</span></label>
              <div class="input-group m-t-10">
                <div class="input-group-prepend mobile-hide">
                  <span class="input-group-text" style="width: 150px;">Keyworks</span>
                </div>
                <input type="text" class="form-control" fomrControlName="keywords">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12" style="margin: 5px 0;">
            <label class="mobile-show">Business Name</label>
            <div class="input-group m-t-10">
              <div class="input-group-prepend mobile-hide">
                <span class="input-group-text" style="width: 150px;">Business Name</span>
              </div>
              <input type="text" class="form-control" fomrControlName="businessName">
            </div>
          </div>
          <div class="col-lg-6 col-md-12" style="margin: 5px 0;">
            <label class="mobile-show">Website Url</label>
            <div class="input-group m-t-10">
              <div class="input-group-prepend mobile-hide">
                <span class="input-group-text" style="width: 150px;">Website Url</span>
              </div>
              <input type="text" class="form-control" fomrControlName="websiteUrl">
            </div>
          </div>
          <div class="col-lg-12 m-t-20">
            <span class="text-secondary">Define your Product or Services</span>
          </div>
        </div>
      </section>
      <hr>
      <section>
        <h3 class="text-secondary  m-t-20">Ad Preview</h3>
        <div class="row m-t-10" formGroupName="adsPreview">
          <div class="col-lg-8 d-flex flex-wrap">
            <div class="col-lg-12">
              <span class="text-secondary  m-t-20">Ad#1</span>
            </div>
            <div class="col-lg-12 d-flex flex-wrap m-t-10">
              <div class="col-md-6 col-sm-12" style="margin: 5px 0;">
                <label class="mobile-show required-mark-after">Headline 1</label>
                <div class="input-group m-t-10">
                  <div class="input-group-prepend mobile-hide"><span class="input-group-text">Headline 1</span></div>
                  <input [(ngModel)]="headline1" type="text" class="form-control" formControlName="headline1">
                </div>
              </div>
              <div class="col-md-6 col-sm-12" style="margin: 5px 0;">
                <label class="mobile-show">Headline 2</label>
                <div class="input-group m-t-10">
                  <div class="input-group-prepend mobile-hide"><span class="input-group-text">Headline 2</span></div>
                  <input [(ngModel)]="headline2" type="text" class="form-control" formControlName="headline2">
                </div>
              </div>
              <div class="col-md-12" style="margin: 5px 0;">
                <label class="mobile-show">Description</label>
                <div class="input-group m-t-10">
                  <div class="input-group-prepend mobile-hide"><span class="input-group-text">Description</span></div>
                  <input [(ngModel)]="description" type="text" class="form-control" formControlName="description">
                </div>
              </div>
            </div>
            <div class="col-lg-12 d-flex m-t-10 justify-content-end">
              <span class="bg-secondary p-10 border-0 text-white"
                (click)="onCreateAds(headline1, headline2, description)">
                + Add
              </span>
            </div>
          </div>
          <div class="col-lg-4">
            <label class="text-secondary">Preview</label>
            <div class="card border border-1 border-secondary m-t-10">
              <div class="bg-secondary p-10 text-align-left">
                <label class="text-white">Your Ad Preview</label>
              </div>
              <div>
                <div class="container row m-0 p-10">
                  <div class="col-lg-12 p-l-5 d-flex">
                    <div>
                      &nbsp;<i class="fa fa-phone"></i>&nbsp;
                    </div>
                    <div class="text-wrap">
                      {{headline1}}
                      &nbsp;|&nbsp;
                      {{headline2}}
                    </div>
                  </div>
                  <div class="col-lg-12 tex-wrap border-t-1 p-t-5 m-t-5">
                    {{description}}
                  </div>
                </div>
              </div>
              <hr style="margin: 10px 0px;">
              <div style="padding:10px; text-align:left">
                <i class="fa fa-search" aria-hidden="true"> &nbsp; &nbsp; SEE MORE AD LAYOUTS</i>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <label class="text-secondary">Create Ad#2</label>
            <div class="d-flex flex-wrap m-t-10">
              <div *ngFor="let ad of googleAdsArr" class="col-lg-3">
                <label class="col-lg-12 ng-scope">
                  <div class="card border border-1 border-secondary">
                    <div class="card-header bg-secondary text-white" style="padding: 5px 10px; text-align:left">
                      <span>Your Ad Preview</span>
                    </div>
                    <div class=" card-body container p-1">
                      <i class="fa fa-phone p-l-8 p-r-8 p-t-0 p-b-0" aria-hidden="true"></i>
                      <span class="ng-binding">{{ad.headline1}} | {{ad.headline2}}</span>
                      <br>
                      <hr style="margin: 10px 0px;">
                      <p class="m-10 ng-binding">
                        {{ad.description}}
                      </p>
                    </div>
                    <div class="card-footer">
                      <i class="fa fa-search" aria-hidden="true"> &nbsp; &nbsp; SEE MORE AD LAYOUTS</i>
                    </div>
                    <div>
                      <button class="btn btn-secondary w-100" (click)="onRemoveAd(ad.id)">Delete</button>
                    </div>
                  </div>

                </label>
              </div>
            </div>
          </div>
        </div>
      </section>
    </form>
  </div>

  <div class="card-footer">
    <div class="card-footer">
      <div class="wrapper d-flex" [formGroup]="formGroup">
        <button class="btn btn-secondary ml-auto mr-2" (click)="cancel()">Cancel</button>
        <button class="btn btn-primary" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>