:host {
  .text-wrap {
    overflow-wrap: anywhere;
  }

  .btn-del {
    &:hover {
      background-color: red;
    }
  }

  .main-bg-color {
    background-color: whitesmoke;
  }

  .mobile-show {
    display: none;

    @media only screen and (max-width: 767px) {
      display: inherit;
    }
  }

  .mobile-hide {
    display: inherit;

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}
