<div class="card">
  <div class="card-header">
    Facebook Ads
  </div>
  <div class="card-body position-relative">
    <div class="spinner-border text-primary center-position" *ngIf="loading" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="row">
      <div class="col-lg-4 form-group">
        <label class="mobile-show">Facebook User</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Facebook User</span>
          </div>
          <select [disabled]="loading || loadingCampaigns"
            (change)="onChangeToken($event.target.value)"
            class="form-control"
          >
            <option *ngif="tokens.length === 0" value="" class="" selected="selected"></option>
            <option *ngFor="let token of tokens"
              [value]="token.token">
              {{token.userName}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 form-group">
        <label class="mobile-show">Ad Account</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Ad Account</span>
          </div>
          <select [disabled]="loading || loadingCampaigns" (change)="onChangeAdAccount($event.target.value)" class="form-control">
            <option *ngif="adAccounts.length === 0" value="" selected="selected"></option>
            <!-- ngRepeat: account in adaccounts -->
            <option *ngFor="let adAccount of adAccounts" [value]="adAccount.id">
              {{adAccount.account_id}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 form-group text-right">
        <button [disabled]="loading || loadingCampaigns" class="btn btn-primary" (click)="onClickCreate()">
          <i class="fa fa-plus mr-2"></i>
          Create New
        </button>
      </div>
    </div>
    <div class="campaign-section">
      <app-datatable [title]="''"
        [showHeader]="false"
        [dropShadow]="false"
        [buttons]="[]"
        [dataSource]="tableSource"
        [rowHeight]="40"
        [selectable]="false"
        [selectionType]="'single'"
        [headerHeight]="40"
        (activate)="onActive($event)"
        [loading]="loadingCampaigns"
      ></app-datatable>
    </div>
  </div>
</div>