:host-context(form) {
  width: 100%;

  .html-input-wrapper {
    min-height: 240px;
    height: 240px;
    margin: 0 0 25px;

    .label {
      position: absolute;
      top: -8px;
      left: 20px;
      background-color: white;
    }
  }
}

.html-input-wrapper {
  position: relative;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  line-height: 15px;

  .editor {
    background-color: white;

    .editor-inner {
    }

    ::ng-deep {
      .ql-toolbar,
      .ql-container {
        border: none;
      }

      .ql-toolbar {
        display: none;
      }

      .ql-container {
        padding: 16px;

        .ql-editor {
          padding: 0;

          &.ql-blank::before {
            left: 0;
            right: 0;
            font-style: normal;
          }
        }
      }
    }
    &.has-toolbar {
      ::ng-deep {
        .ql-toolbar {
          display: block;
        }
      }
    }
  }

  &:focus {
    box-shadow: #ccc;
    color: rgba(black, .8);
  }
}
