<div class="dashboard card" #content>
  <div class="dashboard-header card-header d-flex">
    <div class="pageInfo">
      <select (change)="redirectTo($event)" class="form-control">
        <option *ngFor="let tab of tabs" [value]="tab.key">{{tab.label}}</option>
      </select>
    </div>
    <div class="">
      <div class="row">
        <div class="col-sm-12">
          <div class="datePreview">
            <span class="border-primary fromDate form-control"
              (click)="showDateRangePicker()">{{ parserFormatter.format(fromDate) }} -
              {{ parserFormatter.format(toDate) }}</span>
            Compare to
            <span class="border-primary toDate form-control">{{ parserFormatter.format(compareFromDate) }} -
              {{ parserFormatter.format(compareToDate) }}</span>
          </div>
          <div *ngIf="showDateRangePickerFlag" class="horizontal-scroll dateRangerPicker">
            <ngb-datepicker #dp ngModel (ngModelChange)="onDateChange($event)" [displayMonths]="2" [dayTemplate]="t">
            </ngb-datepicker>

            <ng-template #t let-date="date" let-focused="focused">
              <span class="custom-range-datepicker" [class.focused]="focused"
                [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
                [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null">
                {{ date.day }}
              </span>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row dashboard-top-header">

      <a class="menuMobile p-10">
        <label>Download
          <i class="fa fa-download fa-fa-icon" (click)="downLoadPDF()"></i>
        </label>
      </a>

      <a class="menuMobile p-10">
        <label>Full Screen
          <i class="fa fa-expand fa-fa-icon"></i>
        </label>
      </a>
      <a class="menuMobile p-10">
        <label>Print
          <i class="fa fa-print fa-fa-icon"></i>
        </label>
      </a>
      <a class="menuMobile p-10">
        <label>Refresh
          <i class="fas fa-sync-alt"></i>
        </label>
      </a>
    </div>

    <div *ngIf="showEmailAnalytics">
      <div class="row table-card m-l-0 m-r-0 mb-3">
        <div class="dashboard-top-card card">
          <div class="dashboard-top-card_header">
            <span class="dashboard-top-card_header_title">Click - through</span>
            <span class="text-success dashboard-top-card_header_pro">+10%</span>
          </div>
          <div class="dashboard-top-card_main-value">
            <span>152</span>
          </div>
          <div class="progress mt-2" style="height:5px">
            <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"
              style="width:60%"></div>
          </div>
          <div class="dashboard-top-card_footer">
              <small class="dashboard-top-card_footer_txt">Charge</small>
              <span class="dashboard-top-card_footer_pro text-danger">-8%</span>
          </div>
        </div>
        <div class="dashboard-top-card card">
          <div class="dashboard-top-card_header">
            <span class="dashboard-top-card_header_title">Open</span>
            <span class="text-danger dashboard-top-card_header_pro">-21.05%</span>
          </div>
          <div class="dashboard-top-card_main-value">
            <span>123</span>
          </div>
          <div class="progress mt-2" style="height:5px">
            <div class="progress-bar bg-c-red" role="progressbar" aria-valuemin="0" aria-valuemax="100"
              style="width:60%"></div>
          </div>
          <div class="dashboard-top-card_footer">
              <small class="dashboard-top-card_footer_txt">Charge</small>
              <span class="dashboard-top-card_footer_pro text-danger">-8%</span>
          </div>
        </div>
        <div class="dashboard-top-card card">
          <div class="dashboard-top-card_header">
            <span class="dashboard-top-card_header_title">Bounce</span>
            <span class="text-danger dashboard-top-card_header_pro">+10.53%</span>
          </div>
          <div class="dashboard-top-card_main-value">
            <span>72</span>
          </div>
          <div class="progress mt-2" style="height:5px">
            <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"
              style="width:1%"></div>
          </div>
          <div class="dashboard-top-card_footer">
              <small class="dashboard-top-card_footer_txt">Charge</small>
              <span class="dashboard-top-card_footer_pro text-danger">-1%</span>
          </div>
        </div>
        <div class="dashboard-top-card card">
          <div class="dashboard-top-card_header">
            <span class="dashboard-top-card_header_title">Delivery</span>
            <span class="text-success dashboard-top-card_header_pro">+18.00%</span>
          </div>
          <div class="dashboard-top-card_main-value">
            <span>132</span>
          </div>
          <div class="progress mt-2" style="height:5px">
            <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"
              style="width:90%"></div>
          </div>
          <div class="dashboard-top-card_footer">
              <small class="dashboard-top-card_footer_txt">Charge</small>
              <span class="dashboard-top-card_footer_pro text-success">+18.00%</span>
          </div>
        </div>
        <div class="dashboard-top-card card">
          <div class="dashboard-top-card_header">
            <span class="dashboard-top-card_header_title">Unsubscribe</span>
            <span class="text-success dashboard-top-card_header_pro"></span>
          </div>
          <div class="dashboard-top-card_main-value">
            <span>852</span>
          </div>
          <div class="progress mt-2" style="height:5px">
            <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"
              style="width:0%"></div>
          </div>
          <div class="dashboard-top-card_footer">
              <small class="dashboard-top-card_footer_txt">Charge</small>
              <span class="dashboard-top-card_footer_pro text-success"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7 col-md-12 p-r-5 table-height">
          <app-datatable [title]="'Top Performing Campaigns'" [dataSource]="topPerformingTableSource"
            [buttons]="topPerformingTableButtons" class="soft-shadow">
          </app-datatable>
        </div>
        <div class="col-lg-5 col-md-12 table-height p-l-5">
          <div class="card table-card m-0" cardTitle="Top Performing Campaigns">
            <app-apex-chart chartID="top-performing-campaign-crm" [chartConfig]="topPerformingCampaignData">
            </app-apex-chart>
          </div>
        </div>
      </div>
      <div class="col-lg-12 table-height p-0">
        <app-datatable [title]="'Upcoming Campaigns'" [dataSource]="upComingCampTableSource"
          [buttons]="upComingCampTableButtons">
        </app-datatable>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12 p-r-5 table-height">
          <div class="card table-card m-0" cardTitle="Subscribers">
            <app-apex-chart chartID="subscribe-crm" [chartConfig]="subscribersData"></app-apex-chart>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 p-l-5 table-height">
          <div class="card table-card m-0" cardTitle="Unsubscribers">
            <app-apex-chart chartID="unsubscribers-crm" [chartConfig]="unsubscribers"></app-apex-chart>
          </div>
        </div>
      </div>
      <div class="col-lg-12 table-height p-0">
        <app-datatable [title]="'Bounce Email'" [dataSource]="tableSource" [buttons]="tableButtons">
        </app-datatable>
      </div>
    </div>
    <div *ngIf="showMobileAnalytics">
      <div class="row m-0">
        <div class="sms-cards card mb-3 p-0">
          <div class="card-header">
            <span>SMS Campaign</span>
          </div>
          <div class="card-body d-flex flex-wrap">
            <div class="col-lg-2 col-md-4 col-xl-2 p-0">
              <div class="dashboard-top-card card">
                <div class="dashboard-top-card_header">
                  <span class="dashboard-top-card_header_title">Click - through</span>
                  <span class="text-success dashboard-top-card_header_pro">+10%</span>
                </div>
                <div class="dashboard-top-card_main-value">
                  <span>1,098</span>
                </div>
                <div class="progress mt-2" style="height:5px">
                  <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                    style="width:60%"></div>
                </div>
                <div class="dashboard-top-card_footer">
                    <small class="dashboard-top-card_footer_txt">Charge</small>
                    <span class="text-danger dashboard-top-card_footer_pro">-8%</span>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xl-2 p-0">
              <div class="dashboard-top-card card">
                <div class="dashboard-top-card_header">
                  <span class="dashboard-top-card_header_title">Open Link</span>
                  <span class="text-success dashboard-top-card_header_pro">+20.00%</span>
                </div>
                <div class="dashboard-top-card_main-value">
                  <span>1,053</span>
                </div>
                <div class="progress mt-2" style="height:5px">
                  <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                    style="width:60%"></div>
                </div>
                <div class="dashboard-top-card_footer">
                    <small class="dashboard-top-card_footer_txt">Charge</small>
                    <span class="text-danger dashboard-top-card_footer_pro">0.00%</span>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xl-2 p-0">
              <div class="dashboard-top-card card">
                <div class="dashboard-top-card_header">
                  <span class="dashboard-top-card_header_title">Engagement</span>
                  <span class="text-success dashboard-top-card_header_pro">0.00%</span>
                </div>
                <div class="dashboard-top-card_main-value">
                  <span>1,017</span>
                </div>
                <div class="progress mt-2" style="height:5px">
                  <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                    style="width:60%"></div>
                </div>
                <div class="dashboard-top-card_footer">
                    <small class="dashboard-top-card_footer_txt">Charge</small>
                    <span class="text-danger dashboard-top-card_footer_pro">0.00%</span>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xl-2 p-0">
              <div class="dashboard-top-card card">
                <div class="dashboard-top-card_header">
                  <span class="dashboard-top-card_header_title">Churn Rate</span>
                  <span class="text-success dashboard-top-card_header_pro">+18.00%</span>
                </div>
                <div class="dashboard-top-card_main-value">
                  <span>0.48%</span>
                </div>
                <div class="progress mt-2" style="height:5px">
                  <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                    style="width:60%"></div>
                </div>
                <div class="dashboard-top-card_footer">
                    <small class="dashboard-top-card_footer_txt">Charge</small>
                    <span class="text-success dashboard-top-card_footer_pro">+18.00%</span>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xl-2 p-0">
              <div class="dashboard-top-card card android" (click)="showAppstates(1)">
                <div class="dashboard-top-card_header">
                  <span class="dashboard-top-card_header_title"></span>
                  <span class="text-success dashboard-top-card_header_pro"></span>
                </div>
                <div class="dashboard-top-card_main-value text-center android">
                  <img *ngIf="showAndroid" src="../../../assets/images/mobile/Android_selected.png">
                  <img *ngIf="!showAndroid" src="../../../assets/images/mobile/Android_deselected.png">
                </div>
                <div class="dashboard-top-card_footer justify-content-center">
                    <small class="dashboard-top-card_footer_txt">0(0)</small>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xl-2 p-0">
              <div class="dashboard-top-card card iphone" (click)="showAppstates(2)">
                <div class="dashboard-top-card_header">
                  <span class="dashboard-top-card_header_title"></span>
                  <span class="text-success dashboard-top-card_header_pro"></span>
                </div>
                <div class="dashboard-top-card_main-value text-center">
                  <img *ngIf="showAndroid" src="../../../assets/images/mobile/ios_deselected.png">
                  <img *ngIf="!showAndroid" src="../../../assets/images/mobile/ios_selected.png">
                </div>
                <div class="dashboard-top-card_footer justify-content-center">
                  <small class="dashboard-top-card_footer_txt">0(0)</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-0">
        <div class="push-cards card mb-3 p-0">
          <div class="card-header">
            <span>Push Campaign</span>
          </div>
          <div class="card-body d-flex flex-wrap">
            <div class="col-lg-2 col-md-4 col-xl-2 p-0">
              <div class="dashboard-top-card card">
                <div class="dashboard-top-card_header">
                  <span class="dashboard-top-card_header_title">Open</span>
                  <span class="text-success dashboard-top-card_header_pro">0.00%</span>
                </div>
                <div class="dashboard-top-card_main-value">
                  <span>5,098</span>
                </div>
                <div class="dashboard-top-card_footer">
                  <small class="dashboard-top-card_footer_txt">&nbsp;</small>
                  <span class="text-danger dashboard-top-card_footer_pro">0.00%</span>
                </div>
                <div class="progress mt-2" style="height:5px">
                  <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                    style="width:0%"></div>
                </div>
                <div class="progress" style="height:5px">
                  <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                    style="width:0%"></div>
                </div>
                <div class="dashboard-top-card_footer">
                    <small class="dashboard-top-card_footer_txt">Charge</small>
                    <span class="text-success dashboard-top-card_footer_pro">+453.33.00%</span>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xl-2 p-0">
              <div class="dashboard-top-card card">
                <div class="dashboard-top-card_header">
                  <span class="dashboard-top-card_header_title">Received</span>
                  <span class="text-danger dashboard-top-card_header_pro">0.00%</span>
                </div>
                <div class="dashboard-top-card_main-value">
                  <span>4,998</span>
                </div>
                <div class="dashboard-top-card_footer">
                  <small class="dashboard-top-card_footer_txt">&nbsp;</small>
                  <span class="text-danger dashboard-top-card_footer_pro">0.00%</span>
                </div>
                <div class="progress mt-2" style="height:5px">
                  <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                    style="width:0%"></div>
                </div>
                <div class="progress" style="height:5px">
                  <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                    style="width:0%"></div>
                </div>
                <div class="dashboard-top-card_footer">
                    <small class="dashboard-top-card_footer_txt">Charge</small>
                    <span class="text-danger dashboard-top-card_footer_pro">-8%</span>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xl-2 p-0">
              <div class="dashboard-top-card card">
                <div class="dashboard-top-card_header">
                  <span class="dashboard-top-card_header_title">Discarded</span>
                  <span class="text-danger dashboard-top-card_header_pro">0.00%</span>
                </div>
                <div class="dashboard-top-card_main-value">
                  <span>1,098</span>
                </div>
                <div class="dashboard-top-card_footer">
                  <small class="dashboard-top-card_footer_txt">&nbsp;</small>
                  <span class="text-danger dashboard-top-card_footer_pro">0.00%</span>
                </div>
                <div class="progress mt-2" style="height:5px">
                  <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                    style="width:0%"></div>
                </div>
                <div class="progress" style="height:5px">
                  <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                    style="width:0%"></div>
                </div>
                <div class="dashboard-top-card_footer">
                    <small class="dashboard-top-card_footer_txt">Charge</small>
                    <span class="text-success dashboard-top-card_footer_pro">1%</span>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xl-2 p-0">
              <div class="dashboard-top-card card">
                <div class="dashboard-top-card_header">
                  <span class="dashboard-top-card_header_title">Engagement</span>
                  <span class="text-success dashboard-top-card_header_pro">0.00%</span>
                </div>
                <div class="dashboard-top-card_main-value">
                  <span>398</span>
                </div>
                <div class="dashboard-top-card_footer">
                  <small class="dashboard-top-card_footer_txt">&nbsp;</small>
                  <span class="text-danger dashboard-top-card_footer_pro">0.00%</span>
                </div>
                <div class="progress mt-2" style="height:5px">
                  <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                    style="width:0%"></div>
                </div>
                <div class="progress" style="height:5px">
                  <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                    style="width:0%"></div>
                </div>
                <div class="dashboard-top-card_footer">
                    <small class="dashboard-top-card_footer_txt">Charge</small>
                    <span class="text-success dashboard-top-card_footer_pro">+18.00%</span>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xl-2 p-0">
              <div class="dashboard-top-card card">
                <div class="dashboard-top-card_header">
                  <span class="dashboard-top-card_header_title">App Installed</span>
                  <span class="text-success dashboard-top-card_header_pro"></span>
                </div>
                <div class="dashboard-top-card_main-value">
                  <span *ngIf="showAndroid">1,098</span>
                  <span *ngIf="!showAndroid">358</span>
                </div>
                <div class="dashboard-top-card_footer">
                  <small class="dashboard-top-card_footer_txt">&nbsp;</small>
                  <span class="text-danger dashboard-top-card_footer_pro"></span>
                </div>
                <div class="progress mt-2" style="height:5px">
                  <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                    style="width:0%"></div>
                </div>
                <div class="dashboard-top-card_footer">
                    <small class="dashboard-top-card_footer_txt">Charge</small>
                    <span class="text-success dashboard-top-card_footer_pro"></span>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xl-2 p-0">
              <div class="dashboard-top-card card">
                <div class="dashboard-top-card_header">
                  <span class="dashboard-top-card_header_title">App UnInstalled</span>
                  <span class="text-success dashboard-top-card_header_pro"></span>
                </div>
                <div class="dashboard-top-card_main-value">
                  <span *ngIf="showAndroid">208</span>
                  <span *ngIf="!showAndroid">145</span>
                </div>
                <div class="dashboard-top-card_footer">
                  <small class="dashboard-top-card_footer_txt">&nbsp;</small>
                  <span class="text-danger dashboard-top-card_footer_pro"></span>
                </div>
                <div class="progress mt-2" style="height:5px">
                  <div class="progress-bar bg-c-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                    style="width:0%"></div>
                </div>
                <div class="dashboard-top-card_footer">
                    <small class="dashboard-top-card_footer_txt">Charge</small>
                    <span class="text-success dashboard-top-card_footer_pro"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7 col-md-12 p-r-5">
          <app-datatable [title]="'Top Performing Campaigns'" [dataSource]="topPerformingTableSource"
            [buttons]="topPerformingTableButtons">
          </app-datatable>
        </div>
        <div class="col-lg-5 col-md-12 p-l-5">
          <div class="card table-card m-0" cardTitle="Top Performing Campaigns">
            <app-apex-chart chartID="top-performing-mobile-crm" [chartConfig]="topPerformingMobileData">
            </app-apex-chart>
          </div>
        </div>
      </div>
      <div class="table-height">
        <app-datatable [title]="'Upcoming Campaigns'" [dataSource]="upComingCampTableSource"
          [buttons]="upComingCampTableButtons">
        </app-datatable>
      </div>
    </div>
    <div *ngIf="showSocialAnalytics">
      <iframe
        src="https://embed.agency.octoboard.com/embed?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InoySnN1dzR5UDc1NTRHa3ZLLWNqdWpiYTNjczAyMmUwN254ZnEwYmFueHRAb2N0b2JvYXJkLmNvbSIsInBhc3N3b3JkIjoiODQwYjllZTlkNmMzMGNhNzIxZjcwYTg2NmQxODkwYWFiNzU1NmVhZDMyOGE2MTFiMWY5NTY4YzZmMDMxYTBhYiIsImlhdCI6MTU1NTM5MDM5Mn0.pg5hpMgXcDWBT2PFIzeUjhT66B5bTxQFI0onHGNm6wM"
        allowtransparency="true" scrolling="no" frameborder="0"
        style="border:none; overflow:hidden; min-height: 600px; width: 100%"></iframe>
    </div>
    <div *ngIf="showWebsiteAnalytics">
      <h1>Website Analytics Page</h1>
    </div>
    <div *ngIf="showEventAnalytics">
      <div class="row card event-cards p-0">
        <div class="card-header">
          <span>Events</span>
        </div>
        <div class="card-body d-flex flex-wrap p-0">
          <div class="col-lg-3 col-md-6 col-sm-12 p-0">
            <div class="dashboard-top-card card event-card">
              <div class="dashboard-top-card_header">
                <span class="dashboard-top-card_header_title">Live Event</span>
                <span class="text-success dashboard-top-card_header_pro"></span>
              </div>
              <div class="dashboard-top-card_main-value">
                <span>26</span>
              </div>
              <div class="dashboard-top-card_footer justify-content-between">
                  <small class="dashboard-top-card_footer_txt"></small>
                  <span class="text-success dashboard-top-card_footer_pro"></span>
              </div>
              <div class="dashboard-top-card_footer">
                <small class="dashboard-top-card_footer_txt"></small>
                <span class="text-success dashboard-top-card_footer_pro"></span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 p-0">
            <div class="dashboard-top-card card event-card">
              <div class="dashboard-top-card_header">
                <span class="dashboard-top-card_header_title">Invitee</span>
                <span class="text-success dashboard-top-card_header_pro"></span>
              </div>
              <div class="dashboard-top-card_main-value">
                <span>17</span>
              </div>
              <div class="dashboard-top-card_footer justify-content-between">
                  <small class="dashboard-top-card_footer_txt">Previous</small>
                  <span class="text-success dashboard-top-card_footer_pro">12</span>
              </div>
              <div class="dashboard-top-card_footer">
                <small class="dashboard-top-card_footer_txt">Current</small>
                <span class="text-success dashboard-top-card_footer_pro">17</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 p-0">
            <div class="dashboard-top-card card event-card">
              <div class="dashboard-top-card_header">
                <span class="dashboard-top-card_header_title">Registered</span>
                <span class="text-success dashboard-top-card_header_pro"></span>
              </div>
              <div class="dashboard-top-card_main-value">
                <span>2</span>
              </div>
              <div class="dashboard-top-card_footer justify-content-between">
                  <small class="dashboard-top-card_footer_txt">Previous</small>
                  <span class="text-success dashboard-top-card_footer_pro">7</span>
              </div>
              <div class="dashboard-top-card_footer">
                <small class="dashboard-top-card_footer_txt">Current</small>
                <span class="text-success dashboard-top-card_footer_pro">2</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 p-0">
            <div class="dashboard-top-card card event-card">
              <div class="dashboard-top-card_header">
                <span class="dashboard-top-card_header_title">Attendees</span>
                <span class="text-success dashboard-top-card_header_pro"></span>
              </div>
              <div class="dashboard-top-card_main-value">
                <span>7</span>
              </div>
              <div class="dashboard-top-card_footer justify-content-between">
                  <small class="dashboard-top-card_footer_txt">Previous</small>
                  <span class="text-success dashboard-top-card_footer_pro">7</span>
              </div>
              <div class="dashboard-top-card_footer">
                <small class="dashboard-top-card_footer_txt">Current</small>
                <span class="text-success dashboard-top-card_footer_pro">7</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7 col-md-12 p-r-5 table-height">
          <app-datatable [title]="'Recent Events'" [dataSource]="recentEventTableSource"
            [buttons]="recentEventTableButtons">
          </app-datatable>
        </div>
        <div class="col-lg-5 col-md-12 p-l-5 table-height">
          <div class="card table-card m-0" cardTitle="Engagement Driving Channels">
            <app-apex-chart chartID="engagement-ddriving-channels" [chartConfig]="engagementDrivingChannelsData">
            </app-apex-chart>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-12 p-r-5 table-height">
          <div class="card table-card m-0" cardTitle="Last 12 months - Invited vs Registrations">
            <app-apex-chart chartID="invited-registrations" [chartConfig]="invitedRegistrationsData">
            </app-apex-chart>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 p-l-5 p-r-5 table-height">
          <app-datatable [title]="'Registrations by Country'" [dataSource]="registrationByCountryTableSource"
            [buttons]="registrationByCountryTableButtons"></app-datatable>
        </div>
        <div class="col-lg-4 col-md-12 p-l-5 table-height">
          <app-datatable [title]="'Upcoming Events'" [dataSource]="registrationByCountryTableSource"
            [buttons]="registrationByCountryTableButtons"></app-datatable>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 table-height">
          <app-datatable [title]="'Recent Registrations'" [dataSource]="recentRegistrationTableSource"
            [buttons]="recentRegistrationTableButtons"></app-datatable>
        </div>
      </div>
    </div>
    <div *ngIf="showQRCodeAnalytics">
      <h1>QRCodeAnalytics</h1>
    </div>
    <div *ngIf="showLeadAnalytics">
      <div class="col-lg-12 table-height p-0">
        <app-datatable [title]="'Google Analytics Leads Data'" [dataSource]="googleLeadTableSource"
          [buttons]="googleLeadTableButtons"></app-datatable>
      </div>
    </div>
  </div>
</div>

<app-admin-mobile-app-modal #mobileAppModal [modalType]="modalType"
  [mobileApp]="selectedApp"
></app-admin-mobile-app-modal>