:host {
  .dashboard {
    padding: 0 !important;

    @media only screen and (max-width: 767px) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 767px) {
      display: block !important;

      .datePreview {
        width: 100%;
        justify-content: space-between;
        margin: 10px 0;

        .fromDate {
          margin-left: 0;
        }

        .toDate {
          margin-right: 0;
        }

        @media screen and (max-width: 584px) {
          display: block;

          .fromDate {
            margin-bottom: 10px;
          }

          .toDate {
            margin-left: 0;
            margin-top: 10px;
          }
        }
      }
    }
  }

  .dashboard-top-card {
    width: 20%;
    min-height: 150px;

    @media only screen and (max-width: 767px) {
      width: 50%;
    }

    @media only screen and (max-width: 375px) {
      width: 100%;
    }

    &_header, &_footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &_title {
        font-size: 9px;
        font-weight: 500;
      }

      &_pro {
        font-size: 11px;
      }
    }

    &_header {
      margin-bottom: 10px;
      
      &_title {
        color: black;
      }
    }

    &_footer {
      margin-top: 10px;
    }

    &_main-value {
      font-size: 36px;
      margin-top: auto;
      margin-bottom: auto;
      color: black;
      font-weight: 500;
    }

    &_pro-bar {

    }
  }

  .dateRangerPicker {
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 100;
    background: white;
  }

  .fromDate,
  .toDate {
    width: 200px;
    margin: 0 10px;
  }

  .datePreview {
    display: flex;
    align-items: center;
  }

  .sms-cards,
  .push-cards {
    width: 100%;

    .card-body {
      padding: 0;

      .dashboard-top-card {
        display: flex;
        width: 100%;
        min-height: 161px;

        &:hover {
          box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12);
        }

        &:active {
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  .event-cards {
    margin: 20px 0;
  }

  .event_card {
    padding: 0;

    div {
      margin: 10px 5px;
    }
    .title {
      font-weight: 600;
      text-align: center;
    }
  }

  .dashboard_top_card {
    min-height: 130px;
    padding: 20px;
    border: 1px solid #eaecec;
    border-radius: 5px;

    .pro {
      width: 43px;
      text-align: right;
      font-size: 11px;
      font-weight: 500;
    }  
  }

  .hiddenable {
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .card {
    padding: 20px;
    margin-bottom: 10px;
  }

  .sms-cards,
  .push-cards {
    .card {
      margin-bottom: 0;
    }
  }

  .table-height {
    width: 100%;
    height: 400px;

    @media only screen and (max-width: 575px) {
      height: 300px;
    }
  }

  small {
    font-size: 12px;
  }

  .chart-left-caption {
    position: absolute;
    top: calc(50% - 8px);
    left: 20px;
    background: none;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    z-index: 10;
  }

  .name-field {
    width: 20%;
  }

  .dateTime-field {
    width: 30%;
  }

  .sent-field,
  .open-field,
  .clicks-field,
  .bounces-field,
  .unsubscribe-field {
    width: 10%;
  }
}
