<div class="check-list">
  <cdk-virtual-scroll-viewport #scrollViewport
                               class="scope-scroll-list"
                               [style.height]="height"
                               itemSize="24"
                               minBufferPx="240"
                               maxBufferPx="240"
                               (scrolledIndexChange)="scrolledIndexChange($event)">
    <div class="rule-scope-item" *cdkVirtualFor="let item of items">
      <input type="checkbox" [checked]="item.checked" (change)="onCheckChange(item, $event.target.checked)" aria-label="Checkbox">
      {{item.label}}
    </div>
  </cdk-virtual-scroll-viewport>
</div>
