<div class="row m-t-10">
  <div class="col-md-4">
    <select type="text" class="form-control field">
      <option *ngFor="let item of leadScoringTypeList" value="item.id">{{item.value}}</option>
    </select>
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control field">
  </div>
  <div class="col-md-4" style="align-items: center;">
    <select type="text" class="form-control field">
      <option value="positive">Positive</option>
      <option value="negative">Negative</option>
    </select>
  </div>
  <div class="col-md-1 d-flex remove-btn" (click)="remove_me()">
    <span>
      <i class="fa fa-trash"></i>
    </span>
  </div>
</div>