:host {

  .modal-wrapper{
    padding: 0 10%;

    @media only screen and (max-width: 1024px) {
      padding: 0 5%;
    }

    @media only screen and (max-width: 425px) {
      padding: 0 10px;
    }
  }

  .full-screen {
    padding: 0;
  }
    
  .full-screen > .card {
    height: 100vh;
    top: -52px;

    .fields-list, .right-fields {
      height: calc(100vh - 222px);
    }
  }

  .campaign-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-show {
    display: none;

    @media only screen and (max-width: 575px) {
      display: inherit;
    }
  }

  .mobile-hide {
    display: inherit;

    @media only screen and (max-width: 575px) {
      display: none;
    }
  }

  .fields-list {
    height: calc(100vh - 350px);
    display: flex;
    flex-wrap: wrap;
    .search {
      width: 100%;

      i {
        position: absolute;
        top: 15px;
        right: 30px;
        transform: rotate(90deg);
      }
    }
    .left-fields {
      margin-top: 5px;
      width: 100%;
      height: calc(100% - 50px);
      border: 2px solid #eaecec;
      border-radius: 5px;
      padding-bottom: 5px;
      overflow-y: hidden;
      .csv-fields {
        height: 100%;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 2px;
        }
      }
    }

    .field-action {
      width: 24px;
      background: #01cc71;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      cursor: pointer;
    }
  }

  .right-fields {
    border: 2px solid #eaecec;
    border-radius: 0.25rem;
    padding-bottom: 20px;
    overflow-y: auto;
    height: calc(100vh - 350px);
  }

  ul.fields {
    li {
      margin: 5px 10px;
      width: calc(100% - 18px);
      display: flex;
      justify-content: space-between;
      position: relative;
      .field-name {
        padding: 0px 10px;
        border: 1px solid #45bce1;
        overflow: hidden;
        // height: 30px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(100% - 24px);
        line-height: 30px;
      }
      .field-action {
        width: 24px;
        background: #01cc71;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        cursor: pointer;
      }
      .field-type {
        border-radius: 2px;
        width: 14px;
        height: 14px;
        position: absolute;
        right: 8px;
        top: 7px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.number {
          background-color: #f597ff;
          color: black;
        }
        &.string {
          background-color: #dcff2d;
          color: black;
        }
        &.boolean {
          background-color: #ffcc97;
          color: black;
        }
      }
    }
  }
}
