<div [class]="modalClass">
  <div class="card mt-4">
    <div class="card-header">
      <span>{{createMode?'Create ':'Edit '}}Lead Scoring Profile</span>
      <button type="button"  class="maximize m-l-auto" (click)="revertFullScreen()"><i class="fa" [ngClass]="{'fa-arrows-alt': !fullScreen, 'fa-compress': fullScreen}"></i></button>
      <button type="button" class="m-l-auto close basic-close" data-dismiss="modal" aria-label="Close"
        (click)="onCancelClick()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="card-body" style="overflow-y: auto;">
      <form [formGroup]="formGroup">
        <div class="row">
          <div class="col-md-6">
            <label class="mobile-show">Profile Name</label>
            <div class="input-group">
              <div class="input-group-prepend mobile-hide"><span class="input-group-text">Profile Name</span></div>
              <input type="text" formControlName="profileName" class="form-control ng-untouched ng-pristine ng-invalid">
            </div>
          </div>
          <div class="col-md-6">
            <label class="mobile-show">Description</label>
            <div class="input-group">
              <div class="input-group-prepend mobile-hide"><span class="input-group-text">Description</span></div>
              <input type="text" formControlName="description" class="form-control ng-untouched ng-pristine ng-invalid"
                ng-reflect-name="name">
            </div>
          </div>
        </div>
      </form>
      <div class="row m-t-10">
        <div class="fields-list col-lg-3">
          <div class="search">
            <i class="fa fa-search"></i>
            <input (ngModelChange)="searchLeadCategoryQuery($event)" [(ngModel)]="searchIdx" placeholder="Search..." class="form-control" />
          </div>
          <div class="left-fields">
            <div class="csv-fields">
              <ul class="fields">
                <li *ngFor="let leadCategory of leadCategories" class="input-group">
                  <span class="field-name">{{leadCategory.name}}</span>
                  <span (click)="onClickLeadCategory(leadCategory)" class="field-action">
                    <i class="fa fa-chevron-right"></i>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-9 p-l-0">
          <div class="col-lg-12 right-fields">
            <ng-template #leadCardList></ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="col-lg-12 d-flex p-r-0" style="justify-content: flex-end;">
        <div>
          <span class="btn btn-secondary m-l-10" (click)="onCancelClick()">Cancel</span>
          <span *ngIf="!formGroup.valid" class="btn btn-primary disabled m-l-10"><i
              class="fa fa-save m-r-10"></i>Save</span>
          <span *ngIf="formGroup.valid" class="btn btn-primary m-l-10" (click)="onSaveClick()"><i
              class="fa fa-save m-r-10"></i>Save</span>
        </div>
      </div>
    </div>
  </div>
</div>